.newsletter-signup {
    padding: $space-double;
    display: flex;
    flex-direction: column;

    @include large {
        flex-direction: row;
        align-items: center;
        padding: $space-double $space-quadruple;
    }

    &__content {
        flex: 1 0 50%;
        padding-bottom: 40px;

        .heading {
            color: $white;
        }

        p {
            margin: 0;
            line-height: $text-lh-md;
        }

        @include large {
            padding-bottom: 0;
            padding-right: 40px;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 50%;

        label {
            flex: 1 0 100%;
            font-weight: $fw-b;
            margin-bottom: 5px;
        }

        input[type="email"] {
            flex: 1 0 auto;
            padding: 10px;
        }

        input[type="submit"] {
            @include button-base;
            @include button-color-secondary;

            margin-left: 10px;
        }
    }
}