{% set ns_base_class = ns_base_class|default('newsletter-signup') %}

<div class="section section--inner section--primary">
    <div {{ bem(ns_base_class, ns_modifiers, ns_blockname) }}>
        <div {{ bem('content', [], ns_base_class) }}>
            {% include "@atoms/text/headings/_heading.twig" with {
                heading_level: 2,
                heading: newsletter_signup_heading,
                heading_extra_classes: ['heading'],
            } %}
            {{ newsletter_signup_content }}
        </div>
        {% block newsletter_form %}
            <form {{ bem('form', [], ns_base_class) }}>
                <label for="newsletter-email">{{ newsletter_signup_form_label }}</label>
                <input type="email" id="newsletter-email" />
                <input type="submit" value="{{ newsletter_signup_form_submit_label }}" />
            </form>
        {% endblock %}
    </div>
</div>