.person {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: $space-double;

    &--headshot {
        text-align: center;
        width: 175px;
    }

    &--card {
        width: 250px;
    }

    &--stripe {
        width: 615px;
        background-color: clr(neutral-light);
        flex-direction: row;
        align-items: center;
        gap: $space-double;
    }

    &__image {
        .person--headshot & {
            width: 175px;
            height: 175px;
        }

        .person--card & {
            width: 250px;
            height: 250px;
            background-color: clr(primary-dark);
        }

        .person--stripe & {
            width: 140px;
        }

        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }
    }

    &__content {
        line-height: $text-lh-sm;

        .person--card & {
            background-color: clr(neutral-light);
            padding: $space;

            .person__title {
                border-top: 1px solid currentColor;
            }
        }

        .person--headshot & {
            display: flex;
            flex-direction: column;
            padding: $space 0;

            & > * {
                padding: 0;
            }
        }
    }

    &__title {
        font-size: $ts-meta;
        padding: 5px 0;

        .person--headshot & {
            color: clr(neutral-dark);
        }

        .person--stripe & {
            position: relative;
            margin-top: 5px;
            padding: 10px 0 5px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 230px;
                height: 1px;
                background-color: clr('black');
            }
        }
    }

    &__name {
        display: inline-block;
        padding: 5px 0;
    }
}

// Grid layout
.person-grid {
    @include large {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}