{% set person_base_class = person_base_class|default('person') %}

<div {{ bem(person_base_class, person_modifiers, person_blockname) }}>
    {% block image %}
        <div {{ bem('image', [], person_base_class) }}>
            {% if image_entity %}
                {{ image_entity }}
            {% else %}
                {% include "@atoms/images/image/_image.twig" with {
                    image_src: person_image_src,
                    image_alt: person_name ~ ' headshot'|t
                } %}
            {% endif %}
        </div>
    {% endblock %}
    <div {{ bem('content', [], person_base_class) }}>
        <strong {{ bem('name', [], person_base_class) }}>{{ person_name }}</strong>
        <div {{ bem('title', [], person_base_class) }}>{{ person_title }}</div>
    </div>
</div>