{# To add this to a node template, use the following snippet: #}
{# {% include "@trailhead_theme/trailhead/prev-next-navigation.twig" %} #}

{% set prevNextInfo = { 'node_type': node.bundle, 'nid' : node.id } %}

{% if customPrevious(prevNextInfo).path is not empty or customNext(prevNextInfo).path is not empty %}
	{% include "@organisms/previous-next-navigation/previous-next-navigation.twig" with {
    previous_url: customPrevious(prevNextInfo).path ? customPrevious(prevNextInfo).path : NULL,
    previous_title: customPrevious(prevNextInfo).title ? customPrevious(prevNextInfo).title : NULL,
    next_url: customNext(prevNextInfo).path,
    next_title: customNext(prevNextInfo).title
  } %}
{% endif %}
