{# To add this to a node template, use the following snippet: #}
{# {% include "@trailhead_theme/trailhead/social-share.twig" %} #}

{% if trailhead.twitter_username is not empty %}
  {% set twitter_attribution = ' via @' ~ trailhead.twitter_username %}
{% endif %}

{% set twitter_url = 'https://twitter.com/intent/tweet?text=' ~ node.title.value|replace({' | ': ': '}) ~ '&url=' ~ site.host ~ url ~ twitter_attribution ?: NULL %}
{% set facebook_url = 'https://www.facebook.com/sharer/sharer.php?u=' ~ site.host ~ url %}
{% set linkedin_url = 'https://www.linkedin.com/sharing/share-offsite/?url=' ~ site.host ~ url %}
{% set email_url = 'mailto:?subject=From ' ~ site.name ~ ': ' ~ node.title.value ~ '&body=Read more on the ' ~ site.name ~ ' website: ' ~ site.host ~ url %}
{% set print_url = 'javascript:window.print()' %}

{% include "@molecules/social-share-box/social-share-box.twig" %}