{# To add this to a node template, use the following snippet: #}
{# {% include "@trailhead_theme/trailhead/trailhead-header.twig" %} #}

{% set header__logo %}
    {% if trailhead.header_logo is not empty %}
        <a href="/">
            {{ drupal_image(trailhead.header_logo, 'large', {alt: site.name}) }}
        </a>
    {% endif %}
{% endset %}

{% set upper__menu %}
    {{ drupal_menu('upper', 1, 1) }}
{% endset %}

{% set header__menu %}
    {{ drupal_menu('main', 1, 0, TRUE) }}
{% endset %}

{% set single_level_header__menu %}
    {{ drupal_menu('main', 1, 1) }}
{% endset %}

{% if trailhead.header == 'standard' %}
    {% set headerContents %}
        {% embed "@organisms/site/site-header/standard/standard.twig" %}
            {% block header__branding %}
                {{ header__logo }}
            {% endblock %}
            {% block header__menu %}
                {{ header__menu }}
            {% endblock %}
        {% endembed %}
    {% endset %}
{% elseif trailhead.header == 'rounded_logomark' %}
    {% set headerContents %}
        {% embed "@organisms/site/site-header/rounded-logomark/rounded-logomark.twig" %}
            {% block header__branding %}
                {{ header__logo }}
            {% endblock %}
            {% block header__menu %}
                {{ single_level_header__menu }}
            {% endblock %}
        {% endembed %}
    {% endset %}
{% endif %}

{{ upper__menu }}
{{ headerContents }}