{# To add this to a node template, use the following snippet: #}
{# {% include "@trailhead_theme/trailhead/trailhead-footer.twig" %} #}

{% set footer__logo %}
    {% if trailhead.footer_logo is not empty %}
        <a href="/">
            {{ drupal_image(trailhead.footer_logo, 'large', {alt: site.name}) }}
        </a>
    {% endif %}
{% endset %}

{% set socialLinks = [
    {
        icon: 'facebook',
        url: trailhead.facebook_link ?: NULL,
        ci_alt_text: 'Like on Facebook'|t
    },
    {
        icon: 'twitter',
        url: trailhead.twitter_link ?: NULL,
        ci_alt_text: 'Follow on Twitter'|t
    },
    {
        icon: 'instagram',
        url: trailhead.instagram_link ?: NULL,
        ci_alt_text: 'Follow on Instagram'|t
    },
    {
        icon: 'linkedin',
        url: trailhead.linkedin_link ?: NULL,
        ci_alt_text: 'Follow on LinkedIn'|t
    },
    {
        icon: 'youtube',
        url: trailhead.youtube_link ?: NULL,
        ci_alt_text: 'Subscribe on YouTube'|t
    },
    {
        icon: 'mail',
        url: trailhead.contact_email ? 'mailto:' ~ trailhead.contact_email : NULL,
        ci_alt_text: 'Send an email'|t
    },
] %}

{% set footer__social %}
    {% include "@molecules/social-links/social-links.twig" with {
        items: socialLinks
    } %}
{% endset %}

{% set client_name = site.name %}

{% if trailhead.footer_attribution == '1' %}
    {% set show_footer_attribution = TRUE %}
{% endif %}

{% if trailhead.footer == 'multi_menu' %}
    {% set footerContents %}
        {% embed "@organisms/site/site-footer/multi-menu/multi-menu.twig" %}
            {% block footer__logo %}
                {{ footer__logo }}
            {% endblock %}
            {% block footer__social %}
                {{ footer__social }}
            {% endblock %}
            {% block menu_one %}
                {{ drupal_menu('footer-multi-menu-1', 1, 1) }}
            {% endblock %}
            {% block menu_two %}
                {{ drupal_menu('footer-multi-menu-2', 1, 1) }}
            {% endblock %}
            {% block menu_three %}
                {{ drupal_menu('footer-multi-menu-3', 1, 1) }}
            {% endblock %}
        {% endembed %}
    {% endset %}
{% elseif trailhead.footer == 'centered_lined_menu' %}
    {% set footerContents %}
        {% embed "@organisms/site/site-footer/centered-lined-menu/centered-lined-menu.twig" %}
            {% block footer__logo %}
                {{ footer__logo }}
            {% endblock %}
            {% block footer__social %}
                {{ footer__social }}
            {% endblock %}
            {% block footer__menu %}
                {{ drupal_menu('footer', 1, 1) }}
            {% endblock %}
        {% endembed %}
    {% endset %}
{% elseif trailhead.footer == 'centered_with_left_logo' %}
    {% set footerContents %}
        {% embed "@organisms/site/site-footer/centered-with-left-logo/centered-with-left-logo.twig" %}
            {% block footer__logo %}
                {{ footer__logo }}
            {% endblock %}
            {% block footer__social %}
                {{ footer__social }}
            {% endblock %}
            {% block footer__menu %}
                {{ drupal_menu('footer', 1, 1) }}
            {% endblock %}
        {% endembed %}
    {% endset %}
{% endif %}

{{ footerContents }}