.form-item {
  color: clr(text);
  margin-bottom: 1em;
  max-width: 32em;

  @include clearfix;

  &--inline-block {
    display: inline-block;
  }
}

.form-item__label {
  display: block;
  font-weight: 600;

  @include xs {
    display: block;
    margin-right: 2%;
    padding: 0.6em 0;
  }

  &.option {
    display: inline-block;
    padding: 0;
  }
}

.form-item__textfield {
  &:not(.button) {
    border: 1px solid clr(highlight-high);
    padding: 0.6em;
    max-width: 100%;
    line-height: 1;
  }

  &:focus {
    border-color: clr(accent-high);
  }

  &::placeholder {
    color: clr(highlight);
  }
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;

  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }
}
