:root {
    --iconWidth: 155px;
}

.icon-block-callout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    position: relative;

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        background-color: clr(primary-dark);
    }

    &__heading {
        flex: 1 0 100%;
        margin: 0 0 20px;
        color: clr('white');
        font-family: $font-heading;
        z-index: 1;
    }

    &__blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        z-index: 1;

        @include medium {
            flex-direction: row;
            justify-content: center;
            gap: 40px;
        }
        
        .icon-block {
            width: var(--iconWidth);
        }
    }
}