{% set ibc_base_class = ibc_base_class|default('icon-block-callout') %}

<div {{ bem(ibc_base_class, ibc_modifiers, ibc_blockname, ['scrim', 'scrim--translucent-black']) }}>
    {% include "@atoms/images/image/_image.twig" with {
        image_src: ibc_image_src,
        image_alt: ibc_image_alt
    } %}
    <h2 {{ bem('heading', [], ibc_base_class) }}>{{ ibc_label }}</h2>
    <div {{ bem('blocks', [], ibc_base_class) }}>
        {% block icon_blocks %}
            {% for icon_block in icon_blocks %}
                {% include "@molecules/icon-block/icon-block.twig" with {
                    ib_icon: icon_block.ib_icon,
                    ib_label: icon_block.ib_label,
                    ib_url: icon_block.ib_url,
                    ib_modifiers: ibc_ib_modifiers
                } %}
            {% endfor %}
        {% endblock %}
    </div>
</div>