.cart-confirmation {
    background-color: clr(neutral-light);
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;

    .text-with-icon {
        margin-bottom: $space-double;
        gap: 5px;

        &__text {
            @extend .h4;

            margin-bottom: 0;
            line-height: 1;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        @include gutter;

        & > * {
            flex: 0 0 50%;
        }

        @include large {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__subtotal {
        border-top: 1px solid clr(neutral-medium);
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: center;

        p {
            margin-top: 0;
        }
        
        @include large {
            border-top: 0;
            border-left: 1px solid clr(neutral-medium);
            padding-top: 0;
            padding-left: 100px;
        }
    }

    &__close {
        border: none;
        background-color: transparent;
        position: absolute;
        top: $space;
        right: $space;

        .icon {
            width: 32px;
            height: 32px;
            fill: clr(primary-dark);
        }
    }
}