{% set cc_base_class = cc_base_class|default('cart-confirmation') %}

<div {{ bem(cc_base_class, cc_modifiers, cc_blockname) }}>
    <div class="container gutter">
        <div {{ bem('content', [], cc_base_class) }}>
            <div {{ bem('addition', [], cc_base_class) }}>
                {% include "@molecules/text-with-icon/text-with-icon.twig" with {
                    icon: "checkmark",
                    icon_position: "left",
                    twi_text: "Added to your cart:"
                } %}
                {% include "@molecules/teasers/product-mini.twig" %}
            </div>
            <div {{ bem('subtotal', [], cc_base_class) }}>
                <p>{{ 'Cart subtotal: '|t }}<strong>{{ cart_subtotal }}</strong></p>
                {% include "@molecules/button-group/button-group.twig" %}
            </div>
        </div>
    </div>
    <button {{ bem('close', [], cc_base_class) }} id="closeCartConfirmation">
        {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: 'close',
            icon_desc: 'Close this panel'
        } %}
    </button>
</div>