{#
/**
 * Available variables:
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set button_base_class = button_base_class|default('button') %}

{% if icon_position %}
  {% set icon_classes = icon_position == 'before' ? 'with-icon--left' : null %}
  {% set button_modifiers = button_modifiers|merge([icon_classes]) %}
{% endif %}

{% set additional_attributes = {
  class: bem(button_base_class, button_modifiers, button_blockname)
} %}

{% if button_url %}
<a href="{{ button_url }}" {{ add_attributes(additional_attributes) }}>
{% else %}
<button {{ on_click }} {{ add_attributes(additional_attributes) }}>
{% endif %}
  {% if icon and icon_position == 'before' %}
    {% if button_icon_entity %}
      {{ button_icon_entity }}
    {% else %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: icon
      } %}
    {% endif %}
  {% endif %}
  {% block button_content %}
    {{ button_content }}
  {% endblock %}
  {% if icon and icon_position != 'before' %}
    {% if button_icon_entity %}
      {{ button_icon_entity }}
    {% else %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: icon
      } %}
    {% endif %}
  {% endif %}
{% if button_url %}
</a>
{% else %}
</button>
{% endif %}
