$logoWidth: 150px;
$logoHeight: 150px;

.header--rounded-logomark {
    margin-top: calc(#{$logoWidth} / 2);
    position: relative;
    z-index: 2;

    .header__primary {
        position: relative;
        padding: 0;
        justify-content: flex-end;

        @include large {
            display: block;
        }
    }

    .header__branding {
        width: $logoWidth;
        height: $logoHeight;
        max-width: $logoWidth;
        display: flex;
        align-items: center;
        justify-content: center;
        background: clr(primary);
        border-radius: 50%;
        margin-right: 0;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header__menu {
        background-color: clr(primary);
        display: block;

        .main-nav {
            & > .main-menu {
                display: flex;
                justify-content: space-between;

                @include large {
                    .main-menu__item {
                        &:nth-of-type(2) {
                            margin-right: calc(#{$logoWidth} / 2);
                        }
                        &:nth-of-type(3) {
                            margin-left: calc(#{$logoWidth} / 2);
                        }
                    }
                }
            }
        }
    }
}