{% for item in items %}
    {% include "@molecules/text-with-icon/text-with-icon.twig" with {
        icon: 'person',
        icon_position: 'left',
        twi_text: item.content
    } %}
{% endfor %}