{% set button_modifiers = ['primary'] %}

<div class="button-group">
    {% for item in items %}
        {% include "@atoms/buttons/twig/button.twig" with {
            button_content: item.content['#title'],
            button_url: item.content['#url'],
        } %}
    {% endfor %}
</div>