{% if type is not empty and type == 'event' %}
    <div class="section section--spaced-items">
        <div class="section__content">
            <div class="paragraph-wrapper">
                <strong>
                    <div class="date-range-wrapper">
                        {% for item in items %}{{ item.content }}{% endfor %}
                    </div>
                </strong>
            </div>
        </div>
    </div>
{% else %}
    <div class="date-range-wrapper">
        {% for item in items %}{{ item.content }}{% endfor %}
    </div>
{% endif %}