{% set cta_button_modifiers = ['secondary'] %}

<div class="button-group">
    {% for item in items %}
        {% include "@atoms/buttons/twig/button.twig" with {
            button_content: item.content['#title'],
            button_url: item.content['#url'],
            button_modifiers: cta_button_modifiers
        } %}
    {% endfor %}
</div>