.testimonial {
    &--profile {
        display: flex;
        gap: $space-triple;
        flex-direction: column;

        @include medium {
            flex-direction: row;
        }

        .testimonial__image-wrapper {
            flex: 0 1 250px;

            img {
                max-width: 250px;
            }
        }

        .testimonial__name {
            display: block;
            margin: 0;
            font-family: $font-body;
            line-height: $text-lh-sm;
        }

        .testimonial__quote {
            margin-left: $space-triple;
            padding-left: $space;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 1rem;
                left: -10px;
                width: 3px;
                height: 60%;
                background: clr(secondary);
            }
        }
    }
}