{% set testimonial_base_class = testimonial_base_class|default('testimonial') %}
{% set blockquote_source = testimonial_name ~ ', ' ~ testimonial_title %}

<div {{ bem(testimonial_base_class, testimonial_modifiers, testimonial_blockname) }}>
    {% block testimonial_content %}
        {% include "@atoms/text/text/02-blockquote.twig" with {
            blockquote_content: testimonial_content,
            blockquote_modifiers: ['plain']
        } %}
    {% endblock %}
</div>