{% set testimonial_base_class = testimonial_base_class|default('testimonial') %}
{% set blockquote_source = testimonial_name ~ ', ' ~ testimonial_title %}

<div {{ bem(testimonial_base_class, testimonial_modifiers, testimonial_blockname) }}>
    <div {{ bem('image-wrapper', [], testimonial_base_class) }}>
        {% block image %}
            {% include "@atoms/images/image/_image.twig" with {
                image_src: testimonial_image_src,
                image_alt: testimonial_image_alt
            } %}
        {% endblock %}
    </div>
    {% block testimonial_content %}
        <div {{ bem('content-wrapper', [], testimonial_base_class) }}>
            {% if testimonial_name %}
                <strong {{ bem('name', [], testimonial_base_class, ['h4']) }}>{{ testimonial_name }}</strong>
            {% endif %}
            {% if testimonial_title %}
                <small {{ bem('title', [], testimonial_base_class) }}>{{ testimonial_title }}</small>
            {% endif %}
            {% block testimonial_quote %}
                <div {{ bem('quote', [], testimonial_base_class) }}>
                    {{ testimonial_content }}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
</div>