{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = classes|default([
    'paragraph-' ~ paragraph.bundle|clean_class,
  ])
%}

{% set button_modifiers = [] %}

{% if content.field_button_color %}
  {% set button_modifiers = button_modifiers|merge([paragraph.field_button_color.value]) %}
{% endif %}

{% if content.field_button_modifiers %}
  {% set modifierClasses %}
    {{- content.field_button_modifiers|render|striptags|trim -}}
  {% endset %}
  {% set button_modifiers = button_modifiers|merge([modifierClasses]) %}
{% endif %}

{% if paragraph.field_icon.value is not empty %}
  {% set icon = true %}
  {% set svg_image_src = file_url(paragraph.field_icon.entity.field_media_image.entity.uri.value) %}
  {% set button_icon_entity %}
    {% if svg_image_src != '/' %}
      {{ source(svg_image_src) }}
    {% endif %}
  {% endset %}
  {% set icon_position = content.field_icon_position.0|render %}
  {% set button_modifiers = button_modifiers|merge(['with-icon']) %}
  {% if content.field_icon_position.0 and content.field_icon_position.0|render == 'before' %}
    {% set button_modifiers = button_modifiers|merge(['with-icon--left']) %}
  {% endif %}
  {% if 'ghost' in content.field_button_modifiers %}
    {% set button_modifiers = button_modifiers|merge(['with-icon--transparent']) %}
  {% endif %}
{% endif %}

<div {{ attributes.addClass(classes) }}>
  {% include "@atoms/buttons/twig/button.twig" with {
    button_content: content.field_button_text.0,
    button_url: content.field_button_link.0 ? content.field_button_link.0 : content.field_button_media|render|striptags|trim,
  } %}
</div>
