{% set testimonial_content = content.field_quote %}
{% set testimonial_name %}{{ content.field_name.0|render|striptags|trim }}{% endset %}
{% set testimonial_title %}{{ content.field_title.0|render|striptags|trim }}{% endset %}

{% set type = content.field_testimonial_type.0|render|striptags|trim %}

{% set testimonial_modifiers = [type] %}

{% if type == "profile" %}
    {% embed "@molecules/testimonials/profile.twig" %}
        {% block image %}
            {{ content.field_image }}
        {% endblock %}
    {% endembed %}
{% else %}
    {% include "@molecules/testimonials/blockquote.twig" %}
{% endif %}