{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph-' ~ paragraph.bundle|clean_class,
  ]
%}

{% set lp_hero_modifiers = [content.field_hero_style.0|render] %}
{% set hero_title = content.field_heading %}
{% set hero_content = content.field_text %}
{% set hero_image_src = content.field_media['#items'][0]|file_uri|image_style('content_width') %}
{% set hero_image_alt = paragraph.field_media.0.entity.field_media_image.alt %}
{% set logo_image_src = content.field_image['#items'][0]|file_uri|image_style('content_width') %}
{% set logo_image_alt = paragraph.field_image.0.entity.field_media_image.alt %}
{% set heroStyle = content.field_hero_style.0|render %}

<div class="paragraph-wrapper paragraph-wrapper--full-bleed" {{ attributes }}>
  {% if heroStyle == 'bottom-box' %}
    {% embed "@organisms/heroes/landing-page/bottom-box.twig" %}
      {% block buttons %}
        {{ content.field_links }}
      {% endblock %}
    {% endembed %}
  {% elseif heroStyle == 'centered-content' %}
    {% embed "@organisms/heroes/landing-page/centered-content.twig" %}
      {% block buttons %}
        {{ content.field_links }}
      {% endblock %}
    {% endembed %}
  {% elseif heroStyle == 'scroll-indicator' %}
    {% include "@organisms/heroes/landing-page/scroll-indicator.twig" %}
  {% elseif heroStyle == 'image-only' %}
    {% set lp_hero_modifiers = lp_hero_modifiers|merge(['centered-content']) %}
    {% include "@organisms/heroes/landing-page/landing-page.twig" with {
      hero_title: NULL,
      hero_content: NULL
    } %}
  {% elseif heroStyle == 'impactful-heading' %}
    {% set lp_hero_modifiers = lp_hero_modifiers|merge(['centered-content']) %}
    {% set lp_extra_classes = ['scrim', 'scrim--gradient-black'] %}
    {% include "@organisms/heroes/landing-page/landing-page.twig" with {
      hero_content: NULL
    } %}
  {% elseif heroStyle == 'logo-only' %}
    {% set lp_hero_modifiers = lp_hero_modifiers|merge(['centered-content']) %}
    {% include "@organisms/heroes/landing-page/logo-only.twig" with {
      hero_title: NULL,
      hero_content: NULL
    } %}
  {% elseif heroStyle == 'shaped-bg--chevron' %}
    {% set lp_hero_modifiers = lp_hero_modifiers|merge(['centered-content', 'shaped-bg']) %}
    {% set lp_extra_classes = ['scrim', 'scrim--gradient-black'] %}
    {% include "@organisms/heroes/landing-page/logo-only.twig" with {
      hero_title: NULL,
      hero_content: NULL
    } %}
  {% elseif heroStyle == 'shaped-bg--slanted' %}
    {% set lp_hero_modifiers = lp_hero_modifiers|merge(['centered-content', 'shaped-bg']) %}
    {% set lp_extra_classes = ['scrim', 'scrim--gradient-black'] %}
    {% include "@organisms/heroes/landing-page/logo-only.twig" with {
      hero_title: NULL,
      hero_content: NULL
    } %}
  {% elseif heroStyle == 'search' %}
    {% set lp_hero_modifiers = lp_hero_modifiers|merge(['centered-content']) %}
    {% include "@organisms/heroes/landing-page/search.twig" %}
  {% elseif heroStyle == 'translucent-box' %}
    {% set lp_hero_modifiers = lp_hero_modifiers|merge(['centered-content']) %}
    {% embed "@organisms/heroes/landing-page/narrow-content.twig" %}
      {% block buttons %}
        {{ content.field_links }}
      {% endblock %}
    {% endembed %}
  {% elseif heroStyle == 'double-bordered-box' %}
    {% set lp_hero_modifiers = lp_hero_modifiers|merge(['centered-content']) %}
    {% embed "@organisms/heroes/landing-page/narrow-content.twig" %}
      {% block buttons %}
        {{ content.field_links }}
      {% endblock %}
    {% endembed %}
  {% elseif heroStyle == 'text-translucent-bgs' %}
    {% embed "@organisms/heroes/landing-page/standard-content.twig" %}
      {% block buttons %}
        {{ content.field_links }}
      {% endblock %}
    {% endembed %}
  {% elseif heroStyle == 'split-text-image' %}
    {% embed "@organisms/heroes/landing-page/split-text-image.twig" with {
      split_image_src: logo_image_src,
      split_image_alt: logo_image_alt
    } %}
      {% block buttons %}
        {{ content.field_links }}
      {% endblock %}
    {% endembed %}
  {% elseif heroStyle == 'icon-blocks' %}
    {% embed "@organisms/heroes/landing-page/icon-blocks.twig" %}
      {% block buttons %}
        {{ content.field_links }}
      {% endblock %}
      {% block iconBlocks %}
        {{ content.field_icon_blocks }}
      {% endblock %}
    {% endembed %}
  {% endif %}
</div>
