html {
  font-size: 62.5%; // 1 rem == 10px
  box-sizing: border-box;
}

body {
  background-color: clr(background);
  color: clr(text);

  @include body-copy;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  // @include wrapper;

  display: block; /* Fix for IE weirdness */
}

.content-wrapper {
  background-color: clr('white');
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

@mixin container {
  width: 100%;
  margin: 0 auto;
}

.container {
  @include container;

  max-width: $max-width;

  &-narrow {
    @include container;

    max-width: $narrow-width;
  }
}

@mixin gutter {
  padding-left: $space-double;
  padding-right: $space-double;

  @include small {
    padding-left: $space-quadruple;
    padding-right: $space-quadruple;
  }
}

.gutter {
  @include gutter;
}
