.layout {
    &--twocol-section {
        gap: $space-quadruple;

        & > .layout__region {
            @include large {
                flex: 0 1 calc(100% - 10px); // accommodate gap
            }
        }

        @include large {
            flex-wrap: nowrap;
        }
    }

    &--threecol-section {
        gap: $space-quadruple;

        & > .layout__region {
            @include large {
                flex: 0 1 calc(100% - 20px); // accommodate gap
            }
        }

        @include large {
            flex-wrap: nowrap;
        }
    }

    &--fourcol-section {
        gap: $space-quadruple;

        & > .layout__region {
            @include large {
                flex: 0 1 calc(100% - 30px); // accommodate gap
            }
        }

        @include large {
            flex-wrap: nowrap;
        }
    }

    &-container--maintenance {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        gap: calc(2 * #{$space-quadruple});

        .maintenance__logo {
            margin: $space;
        }

        .h1 {
            line-height: $text-lh-sm;
        }

        .maintenance__side {
            display: none;

            @include medium {
                display: block;
            }

            flex: 0 1 auto;
            line-height: 0;

            svg {
                @include large {
                    height: 100vh;
                }
            }
        }
    }
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;

    @include large {
        flex-direction: row;
    }
}

.outer-content-wrapper {
    position: relative;
}