.social-share-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: $space-double;
    padding-bottom: $space-double;
    background-color: clr('white');
    
    &__label {
        text-align: center;
        margin: 0;
        font-size: $ts-meta;
        font-weight: $fw-b;
        text-transform: uppercase;
        line-height: 0;
    }
}