{% set ssb_label = ssb_label|default('Share This'|t) %}
{% set ssb_base_class = ssb_base_class|default('social-share-box') %}
{% set ssb_label_base_class = ssb_label_base_class|default('label') %}

<div {{ bem(ssb_base_class, ssb_modifiers, ssb_blockname, ['container', 'gutter']) }}>
    <p {{ bem(ssb_label_base_class, ssb_label_modifiers, ssb_base_class) }}>{{ ssb_label }}</p>
    <div class="social-links">
        <div class="circled-icon">
            {% embed "@atoms/links/link/link.twig" with {
                link_url: twitter_url
            } %}
                {% block link_content %}
                    {% include "@atoms/images/icons/_icon.twig" with {
                        icon_name: 'twitter'
                    } %}
                    <span class="visually-hidden">{{ 'Share this on Twitter'|t }}</span>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="circled-icon">
            {% embed "@atoms/links/link/link.twig" with {
                link_url: facebook_url
            } %}
                {% block link_content %}
                    {% include "@atoms/images/icons/_icon.twig" with {
                        icon_name: 'facebook'
                    } %}
                    <span class="visually-hidden">{{ 'Share this on Facebook'|t }}</span>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="circled-icon">
            {% embed "@atoms/links/link/link.twig" with {
                link_url: linkedin_url
            } %}
                {% block link_content %}
                    {% include "@atoms/images/icons/_icon.twig" with {
                        icon_name: 'linkedin'
                    } %}
                    <span class="visually-hidden">{{ 'Share this on LinkedIn'|t }}</span>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="circled-icon">
            {% embed "@atoms/links/link/link.twig" with {
                link_url: email_url
            } %}
                {% block link_content %}
                    {% include "@atoms/images/icons/_icon.twig" with {
                        icon_name: 'mail'
                    } %}
                    <span class="visually-hidden">{{ 'Share this via email'|t }}</span>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="circled-icon">
            {% embed "@atoms/links/link/link.twig" with {
                link_url: print_url
            } %}
                {% block link_content %}
                    {% include "@atoms/images/icons/_icon.twig" with {
                        icon_name: 'printer'
                    } %}
                    <span class="visually-hidden">{{ 'Print this'|t }}</span>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
</div>