// Sass map to define colors. Each set should have a "Dark" variation when required.
// e.g. `default` and `default-dark`. Or `purple` and `purple-dark`.
$button-colors: (
  primary: (
    text: clr(text-inverse),
    bg: clr(primary),
    text-hover: clr(text-inverse),
    bg-hover: clr(primary-light),
  ),
  primary-dark: (
    text: clr(text-inverse),
    bg: clr(primary),
    text-hover: clr(text-inverse),
    bg-hover: clr(primary-light),
  ),
  secondary: (
    text: clr(text-inverse),
    bg: clr(secondary),
    text-hover: clr(text-inverse),
    bg-hover: clr(secondary-dark),
  ),
  secondary-dark: (
    text: clr(text-inverse),
    bg: clr(secondary),
    text-hover: clr(text-inverse),
    bg-hover: clr(secondary-dark),
  ),
);

// Mixin to define colors for one or more schemes.
// Simply pass the color scheme to the mixin to get the colors defined in the map.
// e.g. @include buttonColors(default) will get all of the colors defined in the "default" section.
@mixin buttonColors(
  $scheme,
  $pallate: map-get($button-colors, $scheme),
  $map: $button-colors
) {
  color: map-get($pallate, text);
  background-color: map-get($pallate, bg);
  border: 2px solid map-get($pallate, bg);

  &:visited {
    color: map-get($pallate, text);
  }

  &:hover,
  &:active,
  &:focus {
    color: map-get($pallate, text-hover);
    background-color: map-get($pallate, bg-hover);
    border-color: map-get($pallate, bg-hover);
  }

  &:focus {
    outline: 2px solid map-get($pallate, bg-hover);
  }
}

// The button-base mixin contains styles that apply to all buttons
// regardless of color or size.
@mixin button-base {
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: $fw-b;
}

// Button color variations
// Note how we include dark mode options for each
@mixin button-color-primary {
  @include buttonColors(primary);

  // @media (prefers-color-scheme: dark) {
  //   @include buttonColors(primary-dark);
  // }
}

@mixin button-color-secondary {
  @include buttonColors(secondary);

  // @media (prefers-color-scheme: dark) {
  //   @include buttonColors(secondary-dark);
  // }
}

// Button size variations
@mixin button-medium {
  line-height: 1.4;
  padding: 6px 18px;
}

@mixin button-large {
  line-height: 2;
  padding: 14px 38px;
}

@mixin button-ghost {
  background-color: transparent;
}

.button {
  @include button-base;
  @include button-color-primary;
  @include button-medium;

  &--secondary {
    @include button-color-secondary;
  }

  &--large {
    @include button-large;
  }

  &--ghost {
    @include button-ghost;

    color: clr(primary);
    border-color: currentColor;

    &.button--secondary {
      color: clr(secondary);
    }

    @include link-states {
      color: clr(text-inverse);
    }
  }

  &--full-width {
    width: 100%;
  }

  &--with-icon {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .icon,
    svg {
      width: 24px;
      height: 24px;
      fill: currentColor;
    }

    &--transparent {
      border-color: transparent;

      @include link-states {
        background: none;
        border-color: transparent;
        color: clr(primary-dark);

        svg,
        .icon {
          background-color: transparent;
          color: clr(primary-dark)
        }
      }

      &:focus {
        text-decoration: underline;
      }

      svg,
      .icon {
        background-color: clr(primary);
        color: clr(text-inverse);
        padding: 2px;
      }
    }
  }

  &--plain {
    border: none;
    background-color: transparent;
    padding: 0;
    color: currentColor;
    text-decoration: underline;

    @include link-states {
      background-color: transparent;
      color: currentColor;
    }
  }
}
