.carousel {
    padding: 0 80px;

    &__wrapper {
        margin-top: 100px;
        margin-bottom: 100px;

        .h2 {
            text-align: center;
        }
    }

    .slide {
        padding: 30px 15px;
        width: calc(100% / 3);
        max-width: calc(100% / 3);
        text-align: center;
    }

    .flickity-button {
        color: clr(primary);
        background-color: transparent;

        @include link-states {
            color: clr(primary-dark);
        }

        &:focus {
            box-shadow: 0 0 0 5px clr(primary);
        }
    }

    .flickity-page-dots {
        left: 50%;
        transform: translateX(-50%);

        .flickity-page-dot {
            background: transparent;
            border: 1px solid clr(primary);
            border-radius: 50%;
            cursor: pointer;
            height: 14px;
            margin: 0 5px;
            opacity: 1;
            width: 14px;
            text-indent: 9999px;
            overflow: hidden;

            &.is-selected {
                background: clr(primary);
            }
        }
    }
}