{% set carousel_base_class = carousel_base_class|default('carousel') %}

{{ attach_library('trailhead_theme/carousel') }}

<div {{bem('wrapper', [], carousel_base_class)}}>
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading: carousel_heading
  } %}
  <div {{bem(carousel_base_class, carousel_modifiers, carousel_blockname, ['container gutter'])}}>
    {% block slides %}
      {% for slide in slides %}
        <div class="slide">
          {% include "@molecules/testimonials/plain.twig" with {
            testimonial_content: slide.content,
            testimonial_name: slide.name,
            testimonial_title: slide.title,
            testimonial_modifiers: ['plain']
          } %}
        </div>
      {% endfor %}
    {% endblock %}
  </div>
</div>