$color-breadcrumb: clr(accent);
$color-breadcrumb-hover: clr(accent-high);
$color-breadcrumb-background: $white;
$color-breadcrumb-active: clr(text);

.breadcrumb {
  @include list-reset;

  display: flex;

  &--caps {
    text-transform: uppercase;
  }

  &--home-icon {
    position: relative;
  }

  &--alt-slant {
    .breadcrumb__item {
      position: relative;
      padding-right: 15px;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% - 10px);
        transform: translateY(-50%) skew(-10deg);
        height: 100%;
        width: 1px;
        background: clr(neutral-medium);
        margin: 0 5px;
      }

      &:last-of-type {
        &::after {
          padding-right: 0;
          content: none;
        }
      }
    }
  }

  &__wrapper {
    background-color: $color-breadcrumb-background;
    padding: $space 0;
  }

  &__inner-wrapper {
    display: flex;
    align-items: center;

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $color-breadcrumb;
}

.breadcrumb__link:hover {
  color: $color-breadcrumb-hover;
}

.breadcrumb__item {
  display: inline-block;

  &::after {
    content: '/';
  }

  &:last-child {
    color: $color-breadcrumb-active;

    &::after {
      content: '';
    }
  }
}

.breadcrumb_link:active {
  color: $color-breadcrumb-active;
}
