{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% set breadcrumb__base_class = 'breadcrumb' %}

{% if breadcrumb %}
  <nav role='navigation' aria-labelledby='system-breadcrumb' {{ bem('wrapper', [], breadcrumb__base_class) }}>
    <div class="container gutter">
      <h2 {{ bem('visually-hidden') }} id='system-breadcrumb'>{{ 'Breadcrumb'|t }}</h2>
      <div {{ bem('inner-wrapper', [], breadcrumb__base_class) }}>
        {% if 'home-icon' in breadcrumb__modifiers %}
          {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: "home",
            icon_decorative: true
          } %}
        {% endif %}        
        <ol {{ bem(breadcrumb__base_class, breadcrumb__modifiers, breadcrumb__blockname) }}>
        {% for item in breadcrumb %}
          <li {{ bem('item', [], breadcrumb__base_class) }}>
            {% if item.url %}
              <a {{ bem('link', [], breadcrumb__base_class) }} href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              {{ item.text }}
            {% endif %}
          </li>
        {% endfor %}
        </ol>
      </div>
    </div>
  </nav>
{% endif %}
