.status__list {
  @include list-reset;

  // margin-bottom: $space;
}

.status {
  display: block;
  // margin-bottom: $space-one-half;
  padding: $space-one-half;

  a {
    color: clr(neutral-dark);
  }

  &--warning {
    color: clr(text);
    background-color: clr(warning);
  }

  &--error {
    color: clr(text-inverse);
    background-color: clr(error);

    a {
      color: clr(text-inverse);
    }
  }

  &--status {
    color: clr(text);
    background-color: clr(message);
  }
}
