{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}

{% if drupal_field('field_hero_image', 'node', nid) %}
  {% set hero_image_entity %}
    {{ drupal_field('field_hero_image', 'node', nid) }}
  {% endset %}
{% endif %}

{% if trailhead.subpage_hero %}
  {% set heroStyle = trailhead.subpage_hero %}
  {% if heroStyle == 'title' %}
    {% set subhero_modifiers = ['title'] %}
    {% set titleBlock %}
      {% include "@organisms/heroes/subpage/subpage.twig" with {
        hero_title: title
      } %}
    {% endset %}
  {% elseif heroStyle == 'centered_content' %}
    {% set subhero_modifiers = ['centered-content'] %}
    {% set titleBlock %}
      {% include "@organisms/heroes/subpage/centered-content/centered-content.twig" with {
        hero_title: title
      } %}
    {% endset %}
  {% elseif heroStyle == 'half_and_half' %}
    {% set subhero_modifiers = ['half-and-half'] %}
    {% set titleBlock %}
      {% include "@organisms/heroes/subpage/subpage-cta-like.twig" with {
        hero_title: title
      } %}
    {% endset %}
  {% elseif heroStyle == 'offset_box' %}
    {% set subhero_modifiers = ['offset-box'] %}
    {% set titleBlock %}
      {% include "@organisms/heroes/subpage/subpage-cta-like.twig" with {
        hero_title: title
      } %}
    {% endset %}
  {% elseif heroStyle == 'offset_title' %}
    {% set subhero_modifiers = ['offset-title'] %}
    {% set hero_image_entity = NULL %}
    {% set titleBlock %}
      {% include "@organisms/heroes/subpage/subpage.twig" with {
        hero_title: title
      } %}
    {% endset %}
  {% elseif heroStyle == 'offset_title_with_image' %}
    {% set subhero_modifiers = ['offset-title', 'offset-title-with-image'] %}
    {% set titleBlock %}
      {% include "@organisms/heroes/subpage/subpage.twig" with {
        hero_title: title
      } %}
    {% endset %}
  {% elseif heroStyle == 'shaped_bg' %}
    {% set subhero_modifiers = ['cta', 'shaped-bg'] %}
    {% set titleBlock %}
      {% include "@organisms/heroes/subpage/subpage-cta-like.twig" with {
        hero_title: title
      } %}
    {% endset %}
  {% elseif heroStyle == 'slanted_bg' %}
    {% set subhero_modifiers = ['cta', 'shaped-bg', 'shaped-bg--slanted'] %}
    {% set titleBlock %}
      {% include "@organisms/heroes/subpage/subpage-cta-like.twig" with {
        hero_title: title
      } %}
    {% endset %}
  {% elseif heroStyle == 'title_with_image' %}
    {% set subhero_modifiers = ['title'] %}
    {% set titleBlock %}
      {% include "@organisms/heroes/subpage/subpage.twig" with {
        hero_title: title
      } %}
    {% endset %}
  {% elseif heroStyle == 'title_with_image_and_breadcrumb' %}
    {% set subhero_modifiers = ['title', 'with-breadcrumb'] %}
    {% set titleBlock %}
      {% embed "@organisms/heroes/subpage/subpage.twig" with {
        hero_title: title
      } %}
        {% block breadcrumb %}
          {{ drupal_breadcrumb() }}
        {% endblock %}
      {% endembed %}
    {% endset %}
  {% elseif heroStyle == 'translucent_box' %}
    {% set subhero_modifiers = ['cta', 'translucent-box'] %}
    {% set sub_extra_classes = ['scrim', 'scrim--gradient-black'] %}
    {% set titleBlock %}
      {% include "@organisms/heroes/subpage/subpage-cta-like.twig" with {
        hero_title: title
      } %}
    {% endset %}
  {% endif %}
{% else %}
  {% set titleBlock %}
    <div class="container gutter">
      {% include "@atoms/text/headings/_heading.twig" with {
        "heading_level": 1,
        "heading": title,
      } %}
    </div>
  {% endset %}
{% endif %}

{{ title_prefix }}
{% if title %}
  {{ titleBlock }}
{% endif %}
{{ title_suffix }}
