@mixin grid {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space-triple;
}

.grid {
  @include grid;

  &--card {
    @include space-stack-page;
  }

  &--2col {
    grid-template-columns: repeat(2, 1fr);
  }

  &--4col {
    grid-template-columns: repeat(4, 1fr);
  }
}
