{% if not item_modifiers %}
  {% set item_modifiers = [] %}
{% endif %}
{# Pass original item modifiers down to children #}
{% set original_item_modifiers = item_modifiers %}
{% if item.in_active_trail == TRUE %}
  {% set item_modifiers = item_modifiers|merge(['active']) %}
{% endif %}
{% if menu_level > 0 %}
  {% set item_modifiers = item_modifiers|merge(['sub', 'sub-' ~ menu_level]) %}
{% endif %}
{% if item.below %}
  {% set item_modifiers = item_modifiers|merge(['with-sub']) %}
{% endif %}
{# below could maybe be done without a loop? #}
{% for modifier in item.modifiers %}
  {% set item_modifiers = item_modifiers|merge([modifier]) %}
{% endfor %}

{% set list_item_label = item_label %}
{% set li_base_class = item_base_class|default(menu_class ~ '__item') %}
{% set li_modifiers = item_modifiers %}
{% set li_blockname = item_blockname %}

{% import "@molecules/menus/_menu.twig" as menus %}

{% extends "@atoms/lists/_list-item.twig" %}
  {% block list_item_content %}
    {# if drupal #}
    {% if directory %}
      {% if item.below and menu_class != 'sidebar' %}
        {% embed "@atoms/buttons/twig/button.twig" with {
          "button_content": item.title,
          "button_base_class": item_base_class|default(menu_class ~ '__link'),
          "button_modifiers": item_modifiers,
        } %}
          {% block button_content %}
            {% if menu_level == 1 %}
              {{ item.content|without('children') }}
            {% endif %}
            {{ button_content }}
            <span {{ bem('expand-indicator') }}>
              {% include "@atoms/images/icons/_icon.twig" with {
                icon_name: "plus",
                icon_decorative: true,
              } %}
            </span>
          {% endblock %}
        {% endembed %}
      {% else %}
        {% if item.content['field_block']['#items'] is not empty %}
          {{ item.content }}
        {% else %}  
          {% embed "@atoms/links/link/link.twig" with {
            link_content: item.title,
            link_url: item.url,
            link_base_class: item_base_class|default(menu_class ~ '__link'),
            link_modifiers: item_modifiers,
          } %}
            {% block link_content %}
              {{ item.content }}
              {% if item.content['field_block']['#items'] is empty %}{{ item.title }}{% endif %}
            {% endblock %}
          {% endembed %}
        {% endif %}
      {% endif %}
    {% else %}
      {% include "@atoms/links/link/link.twig" with {
        link_content: item.title,
        link_url: item.url,
        link_base_class: item_base_class|default(menu_class ~ '__link'),
        link_modifiers: item_modifiers,
      } %}
    {% endif %}
    {% if item.below %}
      <div class="sub-menu-wrap">
        <div class="container gutter">
          <div class="sub-menu">
            <div class="sub-menu__heading">
              {% include "@atoms/links/link/link.twig" with {
                "link_content": item.title,
                "link_url": item.url,
                "link_base_class": item_base_class|default(menu_class ~ '__link'),
                "link_modifiers": [],
              } %}
            </div>
            {% set items = [item.below, item] %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_class, menu_modifiers, menu_blockname, item_base_class, original_item_modifiers, item_blockname, directory) }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}
