.sidebar__title {
    position: relative;
    color: clr('black');
    font-weight: $fw-b;
}

.sidebar {
    list-style: none;
    margin: 0;
    padding: 0;

    .gutter {
        padding: 0;
    }

    .sub-menu__heading {
        display: none;
    }

    &__link {
        text-decoration: none;

        @include link-states {
            text-decoration: underline;
        }
    }

    &:not(.sidebar--sub) {
        & > .sidebar__item {
            &::before {
                content: none;
            }
            &.sidebar__item--with-sub.sidebar__item--active {
                & > .sidebar__link {
                    background-color: clr(primary);
                    color: clr('white');
                    padding: 5px 10px;
                    line-height: 1.4;
                    // margin-right: 20px;
                    position: relative;
                }
            }
            .sidebar__link {
                color: clr('black');
                display: block;
                margin: 5px 0;
            }
        }
    }
    &.sidebar--sub {
        .sidebar__item {
            margin-left: 30px;
            position: relative;
            &.sidebar__item--active {
                &::before {
                    transform: rotate(45deg);
                    background: clr(secondary);
                }
                    & > .sidebar__link {
                    font-weight: $fw-b;
                    color: clr('black');
                }
            }
            &::before {
                content: '';
                width: 10px;
                height: 10px;
                background: clr(primary);
                position: absolute;
                top: 0.8rem;
                left: -20px;
            }
        }
        .sidebar__link {
            color: clr(primary);
            font-weight: $fw-r;
            line-height: 1.4;
        }
    }
}

// Hide inactive sections.
.main-nav {
    & > .sidebar {
        & > .sidebar__item:not(.sidebar__item--active) {
            display: none;
        }
    }
}