.image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 0;
    }

    &__images {
        display: grid;
        align-items: center;
        gap: $space-double;
        margin: $space-double 0;

        @include medium {
            grid-template-columns: repeat(2, 1fr);
        }

        @include large {
            grid-template-columns: repeat(var(--images-per-row), 1fr);
        }

        .image-grid__image {
            display: flex;
            align-items: center;
            justify-content: center;
            @include gutter;
        }

        img {
            width: auto;
            max-height: 200px;

            @include medium {
                max-height: 100%;
            }
        }
    }
}