{% set ig_base_class = ig_base_class|default('image-grid') %}

<div {{ bem(ig_base_class, ig_modifiers, ig_blockname) }}>
    {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 2,
        heading: ig_heading
    } %}
    {% block intro_text %}
        {{ ig_intro_text }}
    {% endblock %}
    <div {{ bem('images', [], ig_base_class) }} style="--images-per-row: {{ images_per_row }}">
        {% block images %}
            {% for image in ig_images %}
                {% include "@molecules/linked-image/linked-image.twig" with {
                    li_image_src: image.li_image_src,
                    li_image_alt: image.li_image_alt,
                    li_url: image.li_url,
                    li_link_text: image.li_link_text
                } %}
            {% endfor %}
        {% endblock %}
    </div>
</div>