.previous-next-navigation {
    display: flex;
    flex-direction: column;
    padding: $space-triple $space-double;
    background-color: clr('white');

    .gallery & {
        background-color: transparent;
    }

    @include medium {
        flex-direction: row;
    }

    @include large {
        padding: $space-triple $space-quadruple;
    }

    &__side {
        display: flex;
        flex-direction: column;
        flex: 1 0 50%;
        line-height: $text-lh-sm;
        position: relative;
        margin: 10px 0;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            height: 32px;
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M15.4478 5.07279L5.6114 14.9091H32V17.8408H5.6114L15.4478 27.6771L13.3754 29.7499L0 16.375L13.3754 3L15.4478 5.07279Z" /></svg>');
            mask-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M15.4478 5.07279L5.6114 14.9091H32V17.8408H5.6114L15.4478 27.6771L13.3754 29.7499L0 16.375L13.3754 3L15.4478 5.07279Z" /></svg>');
            background-color: clr(primary);
        }
    }

    &__prev {
        padding-left: 60px;

        &::before {
            left: 12px;
            transition: $spd-a all ease-in-out;
        }

        @include link-states {
            &::before {
                left: 4px;
                transition: $spd-a all ease-in-out;
            }
        }
    }

    &__next {
        align-items: flex-end;
        text-align: right;
        padding-right: 60px;

        &::before {
            right: 12px;
            transition: $spd-a all ease-in-out;
            transform: translateY(-50%) rotate(180deg);
        }

        @include link-states {
            &::before {
                right: 4px;
                transition: $spd-a all ease-in-out;
            }
        }
    }

    &__label {
        @extend .h4;

        color: clr(text);
        margin: 0;
    }

    &__link {
        font-weight: $fw-b;
        text-decoration: none;
        color: clr(primary);
        transition: $spd-a all ease-in-out;
        @include target-expander();

        @include link-states {
            text-decoration: underline;
            color: clr(primary-dark);
            transition: $spd-a all ease-in-out;
        }
    }
}