{% set pnn_base_class = pnn_base_class|default('previous-next-navigation') %}

<div {{ bem(pnn_base_class, pnn_modifiers, pnn_blockname) }}>
	{% if previous_url %}
		<div {{ bem('prev', [], pnn_base_class, ['previous-next-navigation__side']) }}>
			<strong {{ bem('label', [], pnn_base_class) }}>{{ 'Previous'|t }}</strong>
			<a {{ bem('link', [], pnn_base_class) }} href="{{ previous_url }}">{{ previous_title }}</a>
		</div>
	{% endif %}
	{% if next_url %}
		<div {{ bem('next', [], pnn_base_class, ['previous-next-navigation__side']) }}>
			<strong {{ bem('label', [], pnn_base_class) }}>{{ 'Next'|t }}</strong>
			<a {{ bem('link', [], pnn_base_class) }} href="{{ next_url }}">{{ next_title }}</a>
		</div>
	{% endif %}
</div>