:root {
    --iconWidth: 155px;
}

.icon-block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: clr(neutral-dark);
    text-decoration: none;
    min-width: var(--iconWidth);
    transition: $spd-b all ease-in-out;

    &__icon {
        line-height: 0;
    }

    svg {
        width: 48px;
        height: 48px;
    }

    &__label {
        font-family: $font-heading;
        font-weight: $fw-b;
        padding: 10px 0;
    }

    &--boxed {
        border: 2px solid clr(primary);
        padding: 30px 0;
        fill: currentColor;

        .icon-block__icon {
            margin-bottom: 10px;
        }

        .icon-block__label {
            padding: 0;
        }
    }

    &--boxed-icon {
        .icon-block__icon {
            flex: 1 0 100%;
            background-color: clr(secondary);
            fill: $white;
            padding: 30px 70px;
        }
    }

    &--striped {
        background-color: clr(secondary);
        color: $white;
        min-width: auto;

        .icon-block__icon {
            fill: $white;
            padding: 20px 30px;
        }

        .icon-block__label {
            background-color: clr(neutral-dark);
            margin-bottom: 10px;
            padding: 10px 20px;
        }
    }

    &--horizontal {
        border: 2px solid clr(secondary);
        flex-direction: row;
        width: 300px;
        background-color: $white;
        color: $black;

        .icon-block__icon {
            background-color: clr(secondary);
            padding: 20px;
            fill: $white;
        }

        .icon-block__label {
            margin-left: 20px;
            line-height: $text-lh-sm;
        }
    }

    &--solid {
        border: 2px solid clr(primary);
        background-color: clr(primary);
        color: clr(text-inverse);
        padding: 30px 0;
        fill: currentColor;

        .icon-block__icon {
            margin-bottom: 10px;
        }

        .icon-block__label {
            padding: 0;
        }
    }

    &--large {
        display: flex;
        flex-direction: row;
        gap: $space-double;

        @include large {
            gap: calc(#{$space} * 5);
        }

        .icon-block__icon {
            .icon {
                width: 92px;
                height: 92px;
            }
        }

        .icon-block__label {
            font-size: $ts-h4;
        }
    }
}
a.icon-block {
    @include link-states {
        transform: scale(0.9);
        transition: $spd-b all ease-in-out;
    }
}