{% set ib_base_class = ib_base_class|default('icon-block') %}

<a href="{{ ib_url }}" {{ bem(ib_base_class, ib_modifiers, ib_blockname) }}>
    <div {{ bem('icon', [], ib_base_class) }}>
        {% if icon_entity %}
            {{ icon_entity }}
        {% else %}
            {% include "@atoms/images/icons/_icon.twig" with {
                icon_name: ib_icon
            } %}
        {% endif %}
    </div>
    {% block ib_content %}
        <div {{ bem('label', [], ib_base_class) }}>{{ ib_label }}</div>
    {% endblock %}
</a>