.landing-page-hero {
    position: relative;
    width: 100%;
    min-height: 400px;

    @include large {
        display: flex;
        align-items: center;
    }

    &--bottom-box {
        min-height: 500px;

        .landing-page-hero__content-wrapper {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 60px 30px;
            background-color: rgba(0,0,0,0.5);
            text-align: left;

            h1 {
                margin: 0;
                font-size: $ts-h1;
            }
        }
    }

    &--centered-content {
        justify-content: center;

        .landing-page-hero__content-wrapper {
            text-align: center;

            .container {
                margin-top: 40px;
                margin-bottom: 40px;
            }

            h1 {
                margin: 0;
                font-size: $ts-h1;
            }

            .button-group {
                justify-content: center;
            }
        }
    }

    &--scroll-indicator {
        justify-content: center;
        text-align: center;
    }

    &--double-bordered-box {
        min-height: 500px;

        .landing-page-hero__content-wrapper {
            background-color: clr(primary);
            padding: $space-quadruple;
            border: 1px solid clr('white');
            box-shadow: 0 0 0 10px clr(primary);
        }
    }

    &--translucent-box {
        .landing-page-hero__content-wrapper {
            background-color: rgba($primary, 0.7);
            padding: $space-quadruple;

            h1 {
                margin: $space-quadruple 0;
            }
        }
    }

    &--shaped-bg {

        &--chevron {
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 50% 100%, 0 calc(100% - 100px));
        }

        &--slanted {
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
        }
    }

    &--text-translucent-bgs {
        .landing-page-hero__title {
            display: inline-block;
            margin: 0;
            padding: $space $space-double;
            background-color: rgba($primary, 0.6);
            font-size: $ts-h1;
        }

        .landing-page-hero__content {
            p {
                display: inline-block;
                padding: $space $space-double;
                background-color: rgba($primary, 0.6);
                margin: 1em 0;
            }
        }
    }

    &--split-text-image,
    &--icon-blocks {
        .landing-page-hero__split {
            display: flex;
            flex-wrap: wrap;
            gap: $space-double;
            padding: $space-double 0;

            @include large {
                align-items: center;
            }

            &-content {
                @include large {
                    flex: 1 0 50%;
                }
            }

            &-image {
                @include large {
                    flex: 1 0 auto;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }

        .landing-page-hero__icon-blocks {
            display: flex;
            flex-direction: column;
            gap: $space-double;
        }
    }

    &__image-wrapper {
        .image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
            background-color: clr(primary-dark);
        }
    }

    &__content-wrapper {
        position: relative;
        color: clr(text-inverse);
        z-index: 1;

        h1 {
            color: clr(text-inverse);
            font-family: $font-heading;
            font-size: $ts-home-hero;
            font-weight: $fw-u;
            line-height: 1;
            margin: 0;
        }
    }

    // Extras.
    .search-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: $space;
        background-color: rgba(0,0,0,0.5);
        padding: $space-double;
        margin-top: $space-double;
        text-align: left;

        .form-item__label {
            flex: 1 0 100%;
            margin: 0;
            padding: 0;
        }

        input[type="text"] {
            flex: 1 0 auto;
        }
    }

    .icon--scroll-indicator {
        position: absolute;
        bottom: $space-double;
        fill: clr(secondary);
        width: 32px;
        height: 32px;
    }
}