{% extends "@organisms/heroes/landing-page/landing-page.twig" %}
    {% block hero_content %}
        <div {{ bem('content-wrapper', [], lp_hero_base_class) }}>
            <div class="container gutter">
                <h1 {{ bem('title', [], lp_hero_base_class) }}>{{ hero_title }}</h1>
                <div {{ bem('content', [], lp_hero_base_class) }}>{{ hero_content }}</div>
                {% block buttons %}
                    {% include "@atoms/buttons/twig/button.twig" with {
                        button_content: hero_button_content,
                        button_url: hero_button_url,
                        button_modifiers: hero_button_modifiers
                    } %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}