{% set lp_extra_classes = ['scrim', 'scrim--translucent-black'] %}

{% extends "@organisms/heroes/landing-page/landing-page.twig" %}
    {% block hero_content %}
        <div {{ bem('content-wrapper', [], lp_hero_base_class) }}>
            <div class="container gutter">
                {% block centered_content %}
                    <h1 {{ bem('title', [], lp_hero_base_class) }}>{{ hero_title }}</h1>
                    <div {{ bem('content', [], lp_hero_base_class) }}>{{ hero_content }}</div>
                    {% block buttons %}
                        {% include "@atoms/buttons/twig/button.twig" with {
                            button_content: hero_button_1_content,
                            button_url: hero_button_1_url,
                            button_modifiers: hero_button_1_modifiers
                        } %}
                        {% include "@atoms/buttons/twig/button.twig" with {
                            button_content: hero_button_2_content,
                            button_url: hero_button_2_url,
                            button_modifiers: hero_button_2_modifiers
                        } %}
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}