{% set lp_extra_classes = ['scrim', 'scrim--translucent-black'] %}

{% extends "@organisms/heroes/landing-page/landing-page.twig" %}
    {% block hero_content %}
        <div {{ bem('content-wrapper', [], lp_hero_base_class) }}>
            <div class="container gutter">
                <div {{ bem('split', [], lp_hero_base_class) }}>
                    <div {{ bem('split-content', [], lp_hero_base_class) }}>
                        {% block content %}
                            <h1 {{ bem('title', [], lp_hero_base_class) }}>{{ hero_title }}</h1>
                            <div {{ bem('content', [], lp_hero_base_class) }}>{{ hero_content }}</div>
                                {% block buttons %}
                                    {% include "@atoms/buttons/twig/button.twig" with {
                                        button_content: hero_button_1_content,
                                        button_url: hero_button_1_url,
                                        button_modifiers: hero_button_1_modifiers
                                    } %}
                                    {% include "@atoms/buttons/twig/button.twig" with {
                                        button_content: hero_button_2_content,
                                        button_url: hero_button_2_url,
                                        button_modifiers: hero_button_2_modifiers
                                    } %}
                                {% endblock %}
                            </div>
                            <div {{ bem('split-image', [], lp_hero_base_class) }}>
                                {% block iconBlocks %}
                                    <div {{ bem('icon-blocks', [], lp_hero_base_class) }}>
                                        {% for block in icon_blocks %}
                                            {% include "@molecules/icon-block/icon-block.twig" with {
                                                ib_icon: block.ib_icon,
                                                ib_label: block.ib_label,
                                                ib_url: block.ib_url,
                                                ib_modifiers: block.ib_modifiers
                                            } %}
                                        {% endfor %}
                                    </div>
                                {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}