{% set lp_hero_base_class = lp_hero_base_class|default('landing-page-hero') %}

<div {{ bem(lp_hero_base_class, lp_hero_modifiers, lp_hero_blockname, lp_extra_classes) }}>
    <div {{ bem('image-wrapper', [], lp_hero_base_class) }}>
        {% include "@atoms/images/image/_image.twig" with {
            image_src: hero_image_src,
            image_alt: hero_image_alt
        } %}
    </div>
    {% block hero_content %}
        {% if hero_title or hero_extras %}
            <div {{ bem('content-wrapper', [], lp_hero_base_class) }}>
                <div class="container gutter">
                    {% if hero_title %}
                        <h1 {{ bem('title', [], lp_hero_base_class) }}>{{ hero_title }}</h1>
                    {% endif %}
                    {% block hero_extras %}
                        {{ hero_extras }}
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
</div>