{% set hero_extras = TRUE %}
{% set lp_extra_classes = ['scrim', 'scrim--gradient-black'] %}

{% extends "@organisms/heroes/landing-page/landing-page.twig" %}
    {% block hero_extras %}
        {% include "@atoms/images/image/_image.twig" with {
            image_src: logo_image_src,
            image_alt: logo_image_alt
        } %}
    {% endblock %}