{% set lp_extra_classes = ['scrim', 'scrim--translucent-black'] %}

{% extends "@organisms/heroes/landing-page/landing-page.twig" %}
    {% block hero_content %}
        <div {{ bem('content-wrapper', [], lp_hero_base_class) }}>
            <div class="container gutter">
                {% block centered_content %}
                    <h1 {{ bem('title', [], lp_hero_base_class) }}>{{ hero_title }}</h1>
                    <div {{ bem('content', [], lp_hero_base_class) }}>{{ hero_content }}</div>
                {% endblock %}
            </div>
        </div>
        {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: "chevron",
            icon_modifiers: ['scroll-indicator']
        } %}
    {% endblock %}