{% set hero_extras = TRUE %}
{% set lp_extra_classes = ['scrim', 'scrim--gradient-black'] %}

{% extends "@organisms/heroes/landing-page/landing-page.twig" %}
    {% block hero_extras %}
        <form action="/search" class="search-wrapper">
            <label for="siteSearch" class="form-item__label form-item__label--textfield">{{ 'Search the website'|t }}</label>
            <input id="siteSearch" autocorrect="none" autocapitalize="none" spellcheck="false" type="text" name="keywords" value="" size="60" class="form-item__textfield">
            <input type="submit" class="button button--secondary" />
        </form>
    {% endblock %}