{% set li_base_class = li_base_class|default('icon-block') %}

<a href="{{ li_url }}" {{ bem(li_base_class, li_modifiers, li_blockname) }}>
    {% block image %}
        {% if image_entity %}
            {{ image_entity }}
        {% else %}
            {% include "@atoms/images/image/_image.twig" with {
                image_src: li_image_src,
                image_alt: li_image_alt
            } %}
        {% endif %}
    {% endblock %}
    <span class="visually-hidden">{{ li_link_text }}</a>
</a>