{% set header__base_class = 'header' %}
{% set header__modifiers = ['standard'] %}

{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set header__logo_src = directory ? '/' ~ directory ~ '/images/logo.png' : 'logo.png' %}

<header {{ bem(header__base_class, header__modifiers, header__blockname) }}>
  <div class="container gutter">
    <div {{ bem('primary', [], header__base_class) }}>
      <div {{ bem('branding', [], header__base_class) }}>
        {% block header__branding %}
          {% include "@organisms/site/site-header/_site-header-branding.twig" %}
        {% endblock %}
      </div>
      <div {{ bem('menu', [], header__base_class) }}>
        {% block header__menu %}
          {% include "@molecules/menus/main-menu/main-menu.twig" %}
        {% endblock %}
      </div>
    </div>
  </div>
</header>
