.number-block {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-weight: $fw-b;

    &__figure {
        color: clr(primary);
        font-family: $font-heading;
        font-weight: $fw-u;
        font-size: $ts-number-block-figure;
        line-height: 1;
    }

    &__label {
        color: clr(primary-dark);
        line-height: $text-lh-sm;
    }
}