{% set nb_base_class = nb_base_class|default('number-block') %}

<div {{ bem(nb_base_class, nb_modifiers, nb_blockname) }}>
    <div {{ bem('figure', [], nb_base_class) }}>{{ nb_figure }}</div>
    <div {{ bem('label', [], nb_base_class) }}>{{ nb_label }}</div>
</div>