/* Mixin - Transition */
// Animation transition speeds and easings
$spd-a: 100ms; // instantaneous
$spd-b: 300ms; // fast
$spd-c: 400ms; // slow
$spd-d: 700ms; // deliberate
$transition-duration-base: $spd-b;
$transition-timing-function-base: ease-in-out;

@mixin transition(
  $transition-property: all,
  $transition-duration: $transition-duration-base,
  $transition-timing-function: $transition-timing-function-base
) {
  transition: $transition-property $transition-duration
    $transition-timing-function;
}

// Demo UI
.motion {
  padding: 0 1rem;
}

.motion__grid {
  @media (min-width: 920px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.motion__grid-item {
  @media (min-width: 920px) {
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 49%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.demo-motion {
  background-color: clr(highlight-high);
  border-radius: 2px;
  cursor: pointer;
  padding: 3rem;
  text-align: center;

  &::before {
    content: 'Duration: #{$transition-duration-base}';
    display: block;
  }

  &::after {
    content: 'Timing Function: #{$transition-timing-function-base}';
  }

  span {
    display: block;
    margin: 0.25rem;
  }
}

.demo-motion--fade {
  @include transition;

  &:hover {
    background-color: clr(accent-high);
    color: clr(muted);
  }
}

.demo-motion--slide-up {
  @include transition(transform, 0.4s, ease-in);

  &::before {
    content: 'Duration: 0.4s';
    display: block;
  }

  &::after {
    content: 'Timing Function: ease-in';
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.demo-motion--slide-down {
  @include transition(transform, 0.2s, linear);

  &::before {
    content: 'Duration: 0.2s';
    display: block;
  }

  &::after {
    content: 'Timing Function: linear';
  }

  &:hover {
    transform: translateY(10px);
  }
}

.demo-motion--expand {
  @include transition(transform, 0.3s, cubic-bezier(0.17, 0.67, 0.83, 0.67));

  &::before {
    content: 'Duration: 0.3s';
    display: block;
  }

  &::after {
    content: 'Timing Function: cubic-bezier(.17,.67,.83,.67)';
  }

  &:hover {
    transform: scale(1.03);
  }
}
