.circled-icon {
    position: relative;
    border-radius: 50%;
    border: 2px solid clr(primary);
    background-color: transparent;
    width: 32px;
    height: 32px;
    transition: $spd-b all ease-in-out;

    .link {
        @include target-expander;
    }
    
    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 18px;
        height: 18px;
        color: clr(primary);
        fill: clr(primary);
    }

    &--solid {
        background-color: clr(primary);

        .icon {
            color: clr(text-inverse);
            fill: clr(text-inverse);
        }
    }

    @include link-states {
        background-color: clr(primary);
        transform: scale(0.8);
        transition: $spd-b all ease-in-out;
        border-color: clr(primary);
        .icon {
            fill: clr(text-inverse);
            transition: $spd-b all ease-in-out;
        }
    }
}