{% set ci_base_class = ci_base_class|default('circled-icon') %}

<div {{ bem(ci_base_class, ci_modifiers, ci_blockname) }}>
    {% embed "@atoms/links/link/link.twig" %}
        {% block link_content %}
            {% include "@atoms/images/icons/_icon.twig" with {
                icon_name: icon
            } %}
            <span class="visually-hidden">{{ ci_alt_text }}</span>
        {% endblock %}
    {% endembed %}
</div>