.teaser {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

    .grid & {
        margin-bottom: 0;
    }

    @include large {
        &:not(.teaser--publication):not(.teaser--overlay) {
            flex-direction: row;

            .image {
                width: 250px;
            }
        }
    }

    &__image-block {
        flex: 0 0 auto;
        margin-bottom: 10px;
        background-color: clr(primary-dark);

        img {
            object-fit: cover;
            object-position: top;
            .teaser:not(.teaser--publication):not(.teaser--overlay) & {
                width: 100%; // stretch to full width, since cards are wider than images
            }
        }

        @include small {
            flex: 0 0 250px;

            img {
                height: 250px;
            }

            .grid & {
                flex: 0 0 auto;

                img {
                    height: auto;
                }
            }
        }

        @include large {
            .teaser:not(.teaser--publication):not(.teaser--featured):not(.teaser--overlay) & {
                margin-bottom: 0;
                margin-right: 20px;

                img {
                    height: 150px;
                }
            }
        }

        .teaser--large & {
            @include large {
                margin-right: 0;
            }
        }

        .grid--card & {
            flex-basis: auto;
        }
    }

    .heading {
        margin: 0;
        font-size: $ts-h3;
        font-family: $font-heading;
        line-height: 1;

        a {
            color: $black;
            text-decoration: none;

            @include link-states {
                text-decoration: underline;
            }
        }
    }

    &__metadata {
        margin: 5px 0;
        font-size: $ts-meta;

        div:not(.date-range-wrapper) {
            display: inline;
        }

        a {
            font-weight: $fw-b;
            color: clr(primary);
        }

        // Hide Author field's icon
        .icon {
            display: none;
        }
        .text-with-icon__text {
            margin-left: 0;
        }
    }

    &__content {
        line-height: $text-lh-meta;

        .paragraph {
            margin: 5px 0;
        }
    }

    &--featured {
        position: relative;
        max-width: $max-width;

        &.teaser--featured-dark {
            .teaser__details {
                background-color: rgba($black, 0.7);
                color: $white;

                h2, h3, a {
                    color: $white;
                }
            }
        }

        &.teaser--featured-alt {
            .heading {
                order: 2;
            }

            .teaser__metadata {
                margin-top: 0;
            }
        }

        @include large {
            flex-direction: column;
        }

        .teaser__details {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba($white, 0.7);
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .teaser__image-block {
            flex: 0 0 100%;
            margin-bottom: 0;
            height: 350px;

            img {
                height: 350px;
                object-fit: cover;

                .grid & {
                    height: 100%;
                }
            }
        }
    }

    &--with-date {
        .teaser__details {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .heading {
            order: 2;
        }

        .teaser__metadata {
            font-weight: $fw-b;
        }
    }

    &--overlay {
        --overlayWidth: 350px;
        --overlayHeight: 250px;

        width: var(--overlayWidth);
        height: var(--overlayHeight);
        justify-content: flex-end;
        position: relative;
        z-index: 1;
        background-color: clr(primary-dark);

        .teaser__image-block {
            position: absolute;
            width: var(--overlayWidth);
            height: var(--overlayHeight);
            margin: 0;
            z-index: -1;
            @include target-expander;

            img {
                width: 100%;
                height: 100%;
            }

            &::after {
                background-color: rgba($black, 0.7);
            }
        }

        .teaser__details {
            padding: $space;
            color: clr('white');
            display: flex;
            flex-direction: column-reverse;

            .text-with-icon {
                color: clr('white');
            }
        }

        .teaser__metadata {
            position: relative;
            z-index: -1;
            text-transform: uppercase;
            padding-bottom: 4px;
            margin-bottom: $space;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 40px;
                height: 2px;
                background-color: clr(secondary);
            }
        }

        .heading {
            a {
                color: clr('white');
                @include target-expander;
            }
        }
    }

    &--product {
        margin: 0;
        gap: $space;

        .teaser__product {
            display: block;
            margin-bottom: $space;
        }

        .teaser__selection {
            line-height: $text-lh-meta;
        }

        .multiplier {
            font-size: $ts-meta;
        }

        .teaser__details {
            flex: 1 0 auto;
        }

        .teaser__remove {
            border: none;
            background-color: transparent;

            .icon {
                width: 14px;
                height: 14px;
            }
        }
    }
}