{% set teaser_base_class = teaser_base_class|default('teaser') %}
{% set teaser_modifiers = ['overlay'] %}

<article {{ bem(teaser_base_class, teaser_modifiers, teaser_blockname) }}>
    <div {{ bem('image-block', [], teaser_base_class) }}>
        {% block teaser_image %}
            {% if teaser_image_url %}
                {% include "@atoms/images/image/_image.twig" with {
                    image_src: teaser_image_url,
                    image_alt: teaser_image_alt
                } %}
            {% endif %}
        {% endblock %}
    </div>
    <div {{ bem('details', [], teaser_base_class) }}>
        {% include "@atoms/text/headings/_heading.twig" with {
            heading_level: 2,
            heading: teaser_title,
            heading_url: teaser_url,
            heading_base_class: 'heading'
        } %}
        <div {{ bem('metadata', [], teaser_base_class) }}>
            {{ teaser_date }}
        </div>
    </div>
</article>