{% set teaser_base_class = teaser_base_class|default('teaser') %}
{% set teaser_modifiers = ['product'] %}

<article {{ bem(teaser_base_class, teaser_modifiers, teaser_blockname) }}>
    <div {{ bem('image-block', [], teaser_base_class) }}>
        {% block teaser_image %}
            {% if teaser_image_url %}
               {% include "@atoms/images/image/_image.twig" with {
                    image_src: teaser_image_url,
                    image_alt: teaser_image_alt
                } %}
            {% endif %}
        {% endblock %}
    </div>
    <div {{ bem('details', [], teaser_base_class) }}>
        <strong {{ bem('product', [], teaser_base_class) }}>{{ teaser_title }}</strong>
        <div {{ bem('selection', [], teaser_base_class) }}>
            {% if teaser_variant %}
                <div {{ bem('variant', [], teaser_base_class) }}>
                    {{ teaser_variant }}
                </div>
            {% endif %}
            <div {{ bem('cart', [], teaser_base_class) }}>
                <span {{ bem('quantity', [], teaser_base_class) }}>{{ teaser_quantity }} <span class="multiplier">×</span></span>
                <span {{ bem('price', [], teaser_base_class) }}>{{ teaser_price }}</span>
            </div>
        </div>
    </div>
</article>