{% set teaser_base_class = teaser_base_class|default('teaser') %}
{% set teaser_modifiers = ['with-date-summary'] %}

<article {{ bem(teaser_base_class, teaser_modifiers, teaser_blockname) }}>
    <div {{ bem('image-block', [], teaser_base_class) }}>
        {% block teaser_image %}
            {% if teaser_image_url %}
               {% include "@atoms/images/image/_image.twig" with {
                    image_src: teaser_image_url,
                    image_alt: teaser_image_alt
                } %}
            {% endif %}
        {% endblock %}
    </div>
    <div {{ bem('details', [], teaser_base_class) }}>
        {% include "@atoms/text/headings/_heading.twig" with {
            heading_level: 2,
            heading: teaser_title,
            heading_url: teaser_url,
            heading_base_class: 'heading'
        } %}
        <div {{ bem('metadata', [], teaser_base_class) }}>
            {{ teaser_date }}
            {% if authors or teaser_category %}
                {% block author_divider %}
                    <span aria-hidden="true">{{ ' | '|t }}</span>
                {% endblock %}
            {% endif %}
            {% block authors_list %}
                {% if authors %}
                    {% for author in authors %}
                        {%- include "@atoms/links/link/link.twig" with {
                            link_url: author.url,
                            link_content: author.name
                        } -%}{%- if not loop.last %}{% apply spaceless %}{{- ', '|t -}}{% endapply %}{% endif -%}
                    {% endfor %}
                {% else %}
                    {{ teaser_author }}
                {% endif %}
            {% endblock %}
            {% if teaser_category %}
                {% block category_divider %}
                    {{ ' in '|t }}
                {% endblock %}
                {{ teaser_category }}
            {% endif %}
        </div>
        {% if teaser_summary %}
            <div {{ bem('content', [], teaser_base_class) }}>
                {{ teaser_summary }}
            </div>
        {% endif %}
    </div>
</article>