{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if trailhead.breadcrumb %}
    {% set breadcrumb__modifiers = [] %}
    {% set crumbStyle = trailhead.breadcrumb %}
    {% if crumbStyle['caps'] != '0' %}
        {% set breadcrumb__modifiers = breadcrumb__modifiers|merge(['caps']) %}
    {% endif %}
    {% if crumbStyle['home_icon'] != '0' %}
        {% set breadcrumb__modifiers = breadcrumb__modifiers|merge(['home-icon']) %}
    {% endif %}
    {% if crumbStyle['alt_slant'] != '0' %}
        {% set breadcrumb__modifiers = breadcrumb__modifiers|merge(['alt-slant']) %}
    {% endif %}
{% endif %}

{% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
