$footer-bg: clr(neutral-medium-light);
$footer-text: clr(neutral-dark);

.footer {
  background-color: $footer-bg;
  color: $footer-text;
  padding: $space-double 0;
  text-align: center;

  a {
    color: $footer-text;
    text-decoration: underline;
    font-weight: $fw-b;
  }

  .circled-icon {
    border-color: $footer-text;

    .icon {
      color: $footer-text;
      fill: $footer-text;
    }

    @include link-states {
      background-color: $footer-text;

      .icon {
        color: clr(text-inverse);
        fill: clr(text-inverse);
      }
    }
  }

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;

    @include large {
      flex-direction: row;
    }
  }

  &__copyright {
    .paragraph {
      font-size: $ts-meta;
      margin: 20px;
    }
  }

  &__credit {
    font-size: $ts-meta;

    a {
      font-weight: initial;
    }

    .icon {
      fill: currentColor;
    }
  }

  &__menu {
    @include large {
      flex: 1 1 100%;
      margin-left: auto;
      text-align: right;
    }
  }

  &--centered-lined-menu {
    .footer__logo {
      display: flex;
      justify-content: center;
      margin-bottom: $space;
    }

    .footer__social {
      text-align: center;
      margin: $space-double 0;

      .social-links {
        justify-content: center;
      }
    }
  }

  &--centered-with-left-logo {
    padding: ($space * 6) 0;

    .footer__contact-info {
      font-weight: $fw-b;
    }

    .nav--footer-menu {
      border: none;
    }

    .footer-menu__link {
      font-size: $ts-meta;
    }

    .footer__social {
      text-align: center;

      .social-links {
        justify-content: center;
      }
    }

    .footer__lower {
      display: flex;
      flex-direction: column;
      gap: $space;
      margin-top: $space-double;

      @include large {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }
    }

    .footer__logo {
      @include large {
        flex: 1 0 275px; // kind of arbitrary, but equal to credit
      }
    }

    .footer__credit {
      @include large {
        flex: 1 0 275px; // kind of arbitrary, but equal to logo
        text-align: right;
      }
    }
  }

  &--multi-menu {
    .footer__upper {
      border-bottom: 2px solid;
      margin-bottom: 10px;
      padding-bottom: $space;
      @include gutter;

      @include large {
        display: flex;
      }
    }

    .footer__logo {
      max-width: 300px;

      @include large {
        flex: 1 1 auto;
        text-align: left;
      }
    }

    .footer__menus {
      display: flex;
      gap: 40px;
      flex-direction: column;
      align-items: center;

      @include large {
        flex: 1 0 50%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
      }
    }

    .nav--footer-menu {
      border: none;
      padding: 0;
      text-align: left;

      &__heading {
        margin: 0;
        font-family: $font-heading;
        line-height: $text-lh-sm;
      }

      .footer-menu {
        text-align: left;

        @include large {
          flex-direction: column;
          justify-content: flex-start;
        }

        &__item {
          margin: 0;
        }
      }
    }

    .footer__lower {
      @include gutter;

      @include large {
        display: flex;
        align-items: center;
      }
    }

    .footer__social {
      margin-bottom: $space;
  
      @include large {
        flex: 0 1 30%;
        margin-bottom: 0;
        margin-right: $space;
        text-align: left;
      }
    }

    .footer__credit {
      line-height: 0;

      @include large {
        flex: 1 0 auto;
        text-align: right;
      }
    }
  }
}
