.checkerboard-piece {
    display: flex;
    flex-wrap: wrap;
    background-color: clr(primary);
    color: clr(text-inverse);
    
    .checkerboard & {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr minmax(auto, $wide-width) 1fr;
    }

    &__content-wrapper {
        grid-column: 2;
        flex: 1 0 100%;
        display: flex;
        flex-direction: column;

        @include large {
            flex-direction: row;
        }
    }

    &__image {
        @include large {
            flex: 0 0 50%;
            width: 50%;
            max-width: 50%;
            height: 100%;
            grid-column: 2;
            grid-row: 1;
        }

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        padding: $space-double;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include large {
            flex: 0 0 50%;
            width: 50%;
            max-width: 50%;
            padding: $space-double $space-quadruple;
        }

        h2, h3 {
            color: clr(text-inverse);
        }

        .button {
            color: clr(text-inverse);
        }
    }

    &:nth-of-type(even) {
        background-color: clr(secondary);

        .checkerboard-piece__image {
            @include large {
                order: 2;
            }
        }
    }

    .paragraph-wrapper {
        padding: 0;
    }
}