{% set chp_base_class = chp_base_class|default('checkerboard-piece') %}
{% set chp_modifiers = [] %}

<div {{ bem(chp_base_class, chp_modifiers, chp_blockname, chp_extra_classes) }}>
    <div {{ bem('content-wrapper', [], chp_base_class) }}>
        <div {{ bem('image', [], chp_base_class) }}>
            {% block chp_image %}
                {% include "@atoms/images/image/_image.twig" with {
                    image_src: chp_image_src,
                    image_alt: chp_image_alt
                } %}
            {% endblock %}
        </div>
        <div {{ bem('content', [], chp_base_class) }}>
            {% block chp_content %}
                {% include "@atoms/text/headings/_heading.twig" with {
                    heading: chp_heading,
                    heading_level: 2
                } %}
                {{ chp_text_content }}
            {% endblock %}
        </div>
    </div>
</div>