/* Menu media */
$main-menu-medium: $medium;

/* Nav */
.main-nav {
  display: none;

  @include medium {
    display: block;
  }

  &--open {
    background-color: clr(background);
    display: block;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    top: 134px;
    right: 0;
    width: 100%;
  }

  &--open-drawer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: clr(primary);
    height: 100%;
    width: 60%;
  }
}

/* UL */
.main-menu {
  @include list-reset;

  z-index: 10;
  display: flex;

  @include medium {
    border-bottom: none;
  }

  .sub-menu-wrap {
    width: 100%;
    z-index: 2;
    background-color: clr(primary-dark);
    display: none;

    &.active {
      display: block;
    }

    .gutter {
      padding: 0;

      @include large {
        @include gutter;
      }
    }

    .sub-menu-wrap {
      border-top: 1px solid rgba(0,0,0,0.6);
    }

    @include large {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    
    &__heading {
      font-weight: $fw-b;
    }

    @include large {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: $space-quadruple;
    }
  }

  .main-nav--open-drawer & {
    flex-direction: column;
  }
}

/* UL (Nested) */
.main-menu--sub {
  border-bottom: none;
  // height: 0;
  overflow: hidden;
  display: inline-flex;

  @include medium {
    height: auto;
    overflow: visible;
    z-index: 1;
    gap: $space-quadruple;
  }

  /* See main-menu.js */
  &.active {
    height: auto;
  }
}

body {
  &.menu-open {
    overflow: hidden;
    max-height: 100vh;

    @include target-expander();

    &::after {
      background-color: rgba($black, 0.8);
      z-index: 1;
    }
  }
}