/* LI */
.main-menu__item {
  display: flex;
  flex-wrap: wrap;

  &:hover {
    .main-menu__link::after {
      color: clr(text);
    }
  }
}

/*
 * Sub Navigation
 */

/* LI (Nested) */
.main-menu__item--sub {
  @include medium {
    display: block;

    &:not(:first-child) {
      // border-top: 1px solid clr(highlight);
    }
  }
}
