/* A */
.main-menu__link {
  display: block;
  padding: $space $space-triple $space $space-double;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: inherit;
  line-height: $text-lh;
  cursor: pointer;
  width: 100%;
  text-align: left;

  @include link-states {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  @include medium {
    border-bottom: none;
    display: inline-block;
    padding: $space-triple $space;
    text-transform: none;
    position: relative;
    width: auto;

    .sub-menu-wrap & {
      padding: $space;

      &.active {
        &::after {
          content: none;
        }
      }
    }

    .main-menu__item:last-of-type > & {
      padding-right: 0;
    }
  }

  &.active {
    @include large {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border: 16px solid transparent;
        border-bottom-color: clr(primary-dark);
      }
    }
  }

  &--with-sub.main-menu__link {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;

    .menu-expander {
      @include large {
        display: none;
      }
    }

    &.active {
      .expand-indicator {
        transform: rotate(45deg);
      }
    }
  }
}

/* Child item indicator */
.expand-indicator {
  line-height: 0;

  .icon {
    fill: clr('white');
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }

  @include large {
    display: none;
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
// .main-menu__link--sub {
//   color: clr(accent);
//   padding-left: $space-triple;
//   font-weight: normal;

//   @include medium {
//     color: clr(highlight);
//     display: block;
//     padding: $space-one-third $space;
//   }
// }

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
