/* Toggle */
.toggle-expand {
  @include link;

  @include medium {
    display: none;
  }

  display: inline-block;
  padding: $space;
  text-decoration: none;
  width: 100%;
  background-color: clr(primary);
  border: none;
  z-index: 2;
  position: relative;

  /* See main-menu.js */
  &.active {
    background-color: clr(accent);
  }

  .toggle-expand__text {
    color: clr('white');
  }
}

.toggle-expand__text {
  display: block;
  text-transform: uppercase;
  font-size: $ts-meta;
  font-weight: bold;

  .active & {
    color: clr(background);
  }
}

/* SVG icon */
.toggle-expand__icon {
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
  fill: clr('white');
}

.toggle-expand__open {
  display: inline-flex;
  flex-direction: column;
  text-align: center;

  .active & {
    display: none;
  }
}

.toggle-expand__close {
  display: none;
  text-align: center;

  &::before {
    color: clr(background);
    content: 'X';
    display: block;
    font-size: 2.5rem;
    line-height: 2;
  }

  .active & {
    display: inline-block;
  }
}
