{{ attach_library('trailhead_theme/main-menu') }}

<nav id="main-menu__nav-wrapper">
  <button id="toggle-expand" class="toggle-expand">
    <span class="toggle-expand__open">
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_blockname: "toggle-expand",
        icon_name: "menu",
      } %}
      <span class="toggle-expand__text">{{ 'Menu'|t }}</span>
    </span>
    <span class="toggle-expand__close">
      <span class="toggle-expand__text">{{ 'Close'|t }}</span>
    </span>
  </button>
  <div id="main-nav" class="main-nav">
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: "main-menu",
      items: menu_items,
    } %}
  </div>
</nav>
