// Skip link
.skip-link {
    display: block;
    background-color: clr(primary);
    color: clr(text-inverse);
    padding: $space 0;
}

// Views
.view {
    .views-exposed-form {
        margin: $space-double 0;
        padding: $space-double;
        background: clr(neutral-light);

        .form-item {
            display: inline-block;
            margin-top: 10px;

            @include large {
                margin-top: 0;
                margin-right: 10px;
            }
        }
    }

    .notification {
        padding: $space-double;
        margin: $space-double 0;
        background-color: clr(neutral-light);
        font-size: $ts-meta;
    }

    .view-footer {
        text-align: center;
        margin: $space-double 0;
        font-size: $ts-meta;
    }
}

.more-link {
    margin: $space auto;
    text-align: center;

    a {
        @extend .button;
    }
}

// Webforms
.webform-submission-form {
    margin-bottom: $space-double;
}

// User forms
.user-login-form,
.user-register-form,
.user-pass {
    margin-bottom: $space-double;
}

// Layout Paragraphs front-end editing
[class*="-layout-form"] {
    margin-bottom: $space-double;

    .form-item {
        max-width: 100%;
        margin: 0;

        .description {
            font-size: $ts-meta;
            line-height: $text-lh-sm;
        }

        .vertical-tabs__pane {
            padding: $space;
        }

        .vertical-tabs__menu {
            a {
                color: clr(primary);
            }
        }
    }

    .form-actions {
        @include container;
        @include gutter;

        max-width: $max-width;

        .button--danger {
            @include button-base;
            @include button-color-secondary;
            @include button-medium;
        }
    }
}

fieldset.layout-paragraphs-field {
    max-width: 100%;
    padding: 10px;

    .layout-paragraphs-layout-region {
        border-color: clr(neutral-dark);

        &:hover,
        &:focus-within {
            border-color: clr(neutral-dark);
        }
    }

    .layout-select__item {
        input:checked {
            & + label {
                border-color: clr(primary);
            }
        }
    }

    .layout-select__item-icon {
        svg {
            fill: clr(primary);
            stroke: clr(primary);
        }
    }
}

.layout-paragraphs-disabled-items {
    &.form-item {
        max-width: 100%;
        margin: 0;
    }
}

.paragraph-layout--label {
    transform: translateX(-50%);
    padding: 0 0.6em;
    background: clr(neutral-dark);
    color: clr(text-inverse);
}

.paragraph-type--label {
    &.form-item__label {
        margin: 0;
        padding: 5px;
        background: clr(neutral-dark);
        color: clr(text-inverse);
        font-size: $ts-meta;
        border: none;
    }
}

.layout-paragraphs-add-more-menu__item {
    a {
        word-break: break-word;
        line-height: $text-lh-sm;
        hyphens: auto;
    }
    img {
        display: inline;
    }
}

.ui-widget {
    font-family: $font-body;
}

.ui-dialog-titlebar {
    background: clr(neutral-dark);
    color: clr('white');
}

// Node preview
.node-preview-container {
    background-color: clr(neutral-light);

    a {
        color: clr(primary);
    }

    .form-item,
    div.form-item__dropdown,
    label {
        display: block;
    }

    .form-item__select {
        background-color: clr('white');
    }
}

// News
.news {
    &__metadata {
        font-size: $ts-meta;
        display: flex;
        flex-direction: column;
        gap: calc(#{$space} / 2);
    }
}

// Dates
.date-range-wrapper {
    display: inline-flex;
}