.product {
    &__images {
        img {
            width: 100%;
        }
    }

    &__info {
        background-color: clr(neutral-light);
        padding: 25px 45px;
    }
}

.cart {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: clr(neutral-light);
    z-index: 11;
    padding: $space-double;
    box-shadow: -15px 0 10px -10px rgba(0, 0, 0, 0.5);

    .cart-open & {
        display: flex;
        flex-direction: column;
    }

    @include large {
        min-width: 300px;
    }

    h2 {
        margin-top: 0;
    }

    .teaser:not(.teaser--publication):not(.teaser--featured):not(.teaser--overlay) {
        margin-bottom: 10px;

        .teaser__image-block {
            flex-basis: 50px;

            img {
                width: 50px;
                height: 50px;
            }
        }

        .teaser__product {
            margin: 0;
            line-height: $text-lh-md;
        }

        .teaser__selection {
            font-size: $ts-meta;
        }
    }

    hr {
        color: clr(neutral-dark);
        background-color: clr(neutral-dark);
        width: 100%;
        height: 1px;
    }

    .button--ghost {
        font-weight: normal;
        border: none;
        font-size: $ts-meta;
    }

    &__actions {
        margin-top: auto;

        .button-group {
            justify-content: space-between;
        }
    }

    &__total-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .label {
            font-size: $ts-meta;
            font-weight: $fw-b;

            &--total {
                text-transform: uppercase;
            }
        }

        .price {
            font-variant-numeric: tabular-nums;
        }
    }
}

.cart-widget {
    position: relative;

    &__button {
        border: none;
        padding: 0;
        font-weight: $fw-b;
        text-decoration: underline;
    }

    &__total {
        background-color: clr(secondary);
        color: clr('white');
        border-radius: 50%;
        transform: rotate(-10deg);
        transition: $spd-b all ease-in-out;
        position: absolute;
        width: 18px;
        height: 18px;
        top: -8px;
        left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

    @include link-states {
        .cart-widget__total {
            transform: rotate(0);
            transition: $spd-b all ease-in-out;
        }
    }
}

.order-deadline {
    padding: $space-triple $space-quadruple;
    background-color: clr(neutral-light);
}