{% set sls_base_class = sls_base_class|default('social-links') %}

<div {{ bem(sls_base_class, sls_modifiers, sls_blockname) }}>
    {% for item in items %}
        {% if item.url %}
            <div class="circled-icon">
                {% embed "@atoms/links/link/link.twig" with {
                    link_url: item.url
                } %}
                    {% block link_content %}
                        {% include "@atoms/images/icons/_icon.twig" with {
                            icon_name: item.icon
                        } %}
                        <span class="visually-hidden">{{ item.ci_alt_text }}</span>
                    {% endblock %}
                {% endembed %}
            </div>
        {% endif %}
    {% endfor %}
</div>