.scrim {
    overflow: hidden;
    position: relative;
    max-height: 200px; // TODO: remove temporary hardcoded limit

    &::before {
        z-index: 1;
    }

    &--teaser {
        @include target-expander(before);
        &::before {
            background: linear-gradient(rgba(#fff,0), rgba(#fff,0) 50%, #fff 100%);
        }
    }

    &--translucent {
        max-height: none;
        @include target-expander(before);
        &::before {
            background-color: rgba($primary, 0.7);
        }
    }

    &--translucent-black {
        max-height: none;
        @include target-expander(before);
        &::before {
            background-color: rgba($black, 0.5);
        }
    }

    &--gradient-black {
        max-height: none;
        @include target-expander(before);
        &::before {
            background: linear-gradient(to bottom, transparent 0, rgba($black, 0.5) 50%);
        }
    }
}