{% set scrim_base_class = scrim_base_class|default('scrim') %}

{% set additional_attributes = {
    class: bem(scrim_base_class, scrim_modifiers, scrim_blockname)
} %}

<div {{ add_attributes(additional_attributes) }}>
	<div {{ bem('content', [], scrim_base_class) }}>
        {% block scrim_content %}
		    {{ scrim_content }}
	    {% endblock %}
    </div>
</div>