.photo-gallery {
  .grid {
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding: 0;

    @include medium {
      grid-template-columns: repeat(3, 1fr);
    }

    @include large {
      grid-template-columns: repeat(4, 1fr);
    }

  }

  .photo {
    list-style: none;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .lightbox {
    position: fixed;
    background: rgba(11, 11, 11, 0.9);
    width: 100%;
    height: 100%;
    padding: 24px 0;
    top: 0;
    left: 0;
    z-index: 9999;

    figure {
      position: absolute;
      float: left;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      img {
        max-width: 80vw;
        max-height: 70vh;
      }
    }

    figcaption {
      color: clr('white');
    }

    .close-btn {
      color: clr('white');
      fill: currentColor;
      position: absolute;
      width: 20px;
      height: 30px;
      right: 100px;
      top: 20px;
      display: block;
      cursor: pointer;
    }
  }
  .previous-next-navigation {
    display: none;

    @include large {
      display: block;
    }

    &__side {
      position: absolute;
      top: 50%;
      justify-content: center;
    }

    &__next {
      right: 48px;
      align-items: flex-start;
    }

    &__prev {
      left: 48px;
      align-items: flex-end;
    }

    &__label {
      color: white;
    }
  }
}
