{{ attach_library('trailhead_theme/photo-gallery')}}

{% set photoGallery_base_class = photoGallery_base_class|default('photo-gallery') %}

<div {{ bem(photoGallery_base_class, photoGallery_modifiers, photoGallery_blockname) }}>
  <div class="gallery lightbox hidden">
    {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: 'close-btn',
        icon_name: 'close',
    } %}
    
    <figure class="figure">
    
      <img class="figure_image" />
      <figcaption class="figure_caption">
    </figure>

      {% include "@organisms/previous-next-navigation/previous-next-navigation.twig" with {
        next_url: '#',
        previous_url: '#'
      } %}
  </div>
  <ul class="gallery grid">
    {% for photo in data %}
      <li class="photo">
        <img src="{{photo.thumbnail}}" alt="{{photo.alt}}" data-image="{{photo.image}}" data-caption="{{photo.caption}}" data-index="{{loop.index0}}" />
        <div {{ bem('content', [], person_base_class) }}>
          <strong {{ bem('name', [], person_base_class) }}>{{ name }}</strong>
        <div {{ bem('title', [], person_base_class) }}>{{ title }}</div>
    </div>
      </li>
      {# {{photo.thumbnail}} #}
    {% endfor %}
  </ul>
</div>