.accordion {
    &__item {
        width: 100%;
        position: relative;
        margin: $space-double 0;
        transition: $spd-b all ease-in-out;
        background-color: clr(primary);

        &.open {
            background-color: clr(neutral-dark);
            transition: $spd-b all ease-in-out;

            .accordion__content {
                height: max-content;
                visibility: visible;
                max-height: max-content;
                z-index: 2;
            }

            .accordion--alert & {
                .accordion__content {
                    padding: $space-double 0;
                }
            }

            .accordion__title {
                .icon--toggle {
                    transform: translateY(-50%) rotate(45deg);
                    transition: $spd-b all ease-in-out;
                }
            }
        }
    }

    &__title {
        margin: 0;
        color: clr(text-inverse);
        font-weight: $fw-b;
        font-size: $ts-larger;
        padding: 0 $space-double;

        @include large {
            padding: 0 $space-quadruple;
        }

        button {
            display: flex;
            align-items: center;
            gap: 10px;
            background: transparent;
            position: relative;
            border: none;
            color: clr(text-inverse);
            font-weight: $fw-b;
            font-size: $ts-larger;
            text-align: left;
            line-height: 1;
            width: 100%;
            height: 100%;
            padding: $space-double 0;
            cursor: pointer;
        }

        .icon {
            width: 24px;
            height: 24px;
            fill: currentColor;
        }

        .icon--toggle {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: $spd-b all ease-in-out;
        }
    }

    &__content {
        background-color: $white;
        max-height: 0;
        visibility: hidden;
        overflow: hidden;

        .content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: $space-double;
            padding: $space $space-double;
            background-color: transparent;

            @include large {
                padding: $space $space-quadruple;
            }

            p {
                margin-top: 0;

                &:only-child {
                    margin-bottom: 0;
                }
            }

            .button {
                color: inherit;
            }
        }
    }

    &--alert {
        .accordion__item {
            background-color: clr(secondary);
            margin: 0;
        }

        .accordion__content {
            background-color: clr(neutral-dark);
            color: clr(text-inverse);
        }
    }
}