{{ attach_library('trailhead_theme/accordion') }}

{% set accordion_button_modifiers = ['ghost'] %}

{% set accordion_base_class = accordion_base_class|default('accordion') %}
{% if accordion_type == 'alert' %}
	{% set accordion_modifiers = ['alert'] %}
	{% set accordion_button_modifiers = ['ghost', 'secondary'] %}
{% endif %}

<div accordion {{ bem(accordion_base_class, accordion_modifiers, accordion_blockname) }}>
	<div {{ bem('item', accordion_content_modifiers, accordion_base_class) }}>
		<h2 {{ bem('title', [], accordion_base_class, ['js-accordion__title', 'h2']) }}>
			{% if accordion_type == 'alert' %}
				{% include "@atoms/images/icons/_icon.twig" with {
					icon_name: 'warning'
				} %}
			{% endif %}
			{% block accordion_label %}
				{{ accordion_label }}
			{% endblock %}
			{% include "@atoms/images/icons/_icon.twig" with {
				icon_name: 'plus',
				icon_modifiers: ['toggle']
			} %}
		</h2>
		<div {{ bem('content', accordion_content_modifiers, accordion_base_class, ['js-accordion__content']) }}>
			<div class="content-wrapper">
				{% block accordion_content %}
					{{ accordion_content }}
					{% if accordion_button_url %}
						{% include "@atoms/buttons/twig/button.twig" with {
							button_url: accordion_button_url,
							button_content: accordion_button_text,
							button_modifiers: accordion_button_modifiers
						} %}
					{% endif %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>