{% extends "@organisms/heroes/subpage/subpage.twig" %}
    {% block hero_extras %}
        {% if hero_text %}
            <div {{ bem('text', [], subhero_base_class) }}>{{ hero_text }}</div>
        {% endif %}
    {% endblock %}