.table {
  border: 1px solid clr(highlight-high);
  border-radius: 4px;
  border-spacing: 0;
  background-color: clr(muted);
  margin: 1em 0;
  width: 100%;

  a {
    color: clr(primary);
  }
}

.table__heading-cell,
.table__cell {
  border: none;
  border-bottom: 1px solid clr(highlight-high);
  border-right: 1px solid clr(highlight-high);
  padding: 1em;

  &:last-child {
    border-right: none;
  }
}

.table__heading-cell {
  color: clr(accent-high);
  font-weight: 700;
  padding: 1.2em;
  text-align: left;
}

.table__row {
  &:nth-child(odd) {
    background-color: clr(background);
  }

  /* Top Row - Non-BEM but always contained */
  &:first-child {
    th:first-child,
    td:first-child {
      border-radius: 5px 0 0;
    }

    th:last-child,
    td:last-child {
      border-radius: 0 5px 0 0;
    }
  }

  /* Bottom Row - Non-BEM but always contained */
  &:last-child {
    tbody & {
      th,
      td {
        border-bottom: none;
      }
    }

    td:first-child {
      border-radius: 0 0 0 5px;
    }

    td:last-child {
      border-radius: 0 0 5px;
    }
  }
}

.table__footer-cell,
.table__footer-cell:first-child {
  border-bottom: none;
  border-top: 1px solid clr(highlight-high);
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  table {
    @extend .table;
  }

  th {
    @extend .table__heading-cell;
  }

  td {
    @extend .table__cell;
  }

  tr {
    @extend .table__row;
  }

  tfoot th {
    @extend .table__footer-cell;
  }
}
