$icon-list-font: $font-body;

.icon-list {
    display: flex;
    flex-direction: column;
    gap: $space-quadruple;

    @include large {
        flex-direction: row;
    }

    &--left-image {
        @include large {
            .icon-list__content {
                order: 2;
            }
        }
    }

    &__heading {
        font-family: $icon-list-font;
        margin: 0;
    }

    &__items {
        display: grid;
        gap: 20px;

        @include large {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-item {
        @include large {
            flex: 1 0 calc(50% - 20px);
        }

        h3 {
            font-family: $icon-list-font;
        }
    }

    &__image {
        flex: 1 0 25%;
    }
}