{% set il_base_class = il_base_class|default('icon-list') %}

<div {{ bem(il_base_class, il_modifiers, il_blockname) }}>
    <div {{ bem('content', [], il_base_class) }}>
        {% block icon_list_heading %}
            <h2 {{ bem('heading', [], il_base_class) }}>{{ il_heading }}</h2>
        {% endblock %}
        <p>{{ il_intro_text }}</p>
        <div {{ bem('items', [], il_base_class) }}>
            {% block list_items %}
                {% for item in il_items %}
                    {% include "@molecules/icon-list-item/icon-list-item.twig" with {
                        ili_icon: item.ili_icon,
                        ili_heading: item.ili_heading,
                        ili_text: item.ili_text
                    } %}
                {% endfor %}
            {% endblock %}
        </div>
    </div>
    <div {{ bem('image', [], il_base_class) }}>
        {% if image_entity %}
            {{ image_entity }}
        {% else %}
            {% include "@atoms/images/image/_image.twig" with {
                image_src: il_image_src,
                image_alt: il_image_alt
            } %}
        {% endif %}
    </div>
</div>