/* Mixin - list-reset
 * Reset list item defaults when no margin, padding, list styles needed
*/

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

.list-item {
  &::marker {
    color: clr(primary);
  }
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  ol,
  ul {
    li {
      @extend .list-item;
    }
  }
}
