$heroMinHeight: 200px;
$heroHeight: 400px;

.subpage-hero {
    background-color: clr(primary-dark);
    color: clr(text-inverse);
    padding: 20px 0;

    &--cta {
        padding: 0;

        &.subpage-hero--shaped-bg {
            .subpage-hero__content-wrapper {

                @include large {
                    display: grid;
                    grid-template-columns: 1fr minmax(auto, calc(#{$max-width} / 2 - #{$space-quadruple})) minmax(auto, calc(#{$max-width} / 2 - #{$space-quadruple})) 1fr;  
                    align-items: center;
                    grid-column: 2;  
                }
            
                .subpage-hero__content {
                    flex: 0 0 60%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    background-color: clr(primary-dark);
                    clip-path: polygon(0 -100%, 0 calc(100% - 100px), 50% 100%, 100% calc(100% - 100px), 100% -100%);
                    padding: $space-double $space-double calc(#{$space-double} + 100px);
            
                    @include large {
                        height: 100%;
                        clip-path: polygon(-100% 0, calc(100% - 100px) 0, 100% 50%, calc(100% - 100px) 100%, -100% 100%);
                        padding: $space calc(#{$space-quadruple} + #{$space-double}) $space $space-quadruple; // Extra space on right to prevent shape from clipping text.
                        grid-column: 2;
                    }
                }
            
                .subpage-hero__image {
                    flex: 0 0 calc(40% + 100px);
                    margin-top: -100px;
                    background-color: clr(primary-dark);
            
                    @include large {
                        margin-top: 0;
                        margin-left: -100px;
                        grid-column: 3 / 5;
                    }
            
                    img {
                    width: 100%;
                    object-fit: cover;
                    }
                }
            }

            &.subpage-hero--shaped-bg--slanted {
                .subpage-hero__content {
                    clip-path: polygon(0 -100%, 0 calc(100% - 100px), 50% calc(100% - 50px), 100% 100%, 100% -100%);

                    @include large {
                        clip-path: polygon(-100% 0, 100% 0, calc(100% - 50px) 50%, calc(100% - 100px) 100%, -100% 100%);
                    }
                }
            }
        }
    }

    &--half-and-half {
        padding: 0;

        .subpage-hero__content-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;

            @include large {
                flex-direction: row;
            }

            .subpage-hero__content {
                flex: 1 0 50%;
                padding-top: $space-double;
                padding-bottom: $space-double;
                order: 2;
                @include gutter;

                @include large {
                    order: 1;
                }
            }

            .subpage-hero__image {
                flex: 1 0 50%;

                @include large {
                    order: 2;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    &--translucent-box {
        .subpage-hero__content-wrapper {
            display: grid;
            grid-template-columns: 40px calc(50% - 40px) 1fr;
            z-index: inherit;
        }

        .subpage-hero__content {
            grid-row: 1;
            grid-column: 2;
            z-index: 2;
            display: flex;
            align-items: center;
            background-color: rgba($black, 0.5);
            @include gutter;
        }

        .subpage-hero__image {
            grid-row: 1;
            grid-column: 1 / 4;
            height: $heroHeight;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &--offset-box {
        padding: 0;
        background: transparent;
        margin-bottom: $space-double;

        .subpage-hero__content-wrapper {
            display: grid;
            grid-template-columns: 40px calc(50% - 40px) 1fr;
            grid-template-rows: 1fr 100px;
        }

        .subpage-hero__content {
            grid-row: 1 / 3;
            grid-column: 2;
            z-index: 2;
            display: flex;
            background-color: clr(primary-dark);
            padding: $space-double;
            margin-top: 100px;
          
            @include small {
              padding: $space-quadruple;
            }
        }

        .subpage-hero__image {
            grid-row: 1;
            grid-column: 1 / 4;
            min-height: $heroMinHeight;
            max-height: $heroHeight;
            background-color: clr(secondary-dark);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &--with-breadcrumb {
        .breadcrumb__wrapper {
            background: transparent;
            padding: 0;

            .gutter {
                padding: 0;
            }

            .icon {
                fill: clr(text-inverse);
            }

            .breadcrumb__item,
            .breadcrumb__link {
                color: clr(text-inverse);
            }
        }
    }

    h1 {
        margin: 0;
        font-family: $font-heading;
    }

    &__image-wrapper {
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
            background-color: clr(primary-dark);
        }
    }

    &__content-wrapper {
        position: relative;
        color: clr(text-inverse);
        z-index: 1;

        h1 {
            color: clr(text-inverse);
            font-family: $font-heading;
            font-weight: $fw-u;
            line-height: 1;
            margin: 0;
        }
    }

    &__text {
        p {
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}