{% set subhero_base_class = subhero_base_class|default('subpage-hero') %}
{% set sub_extra_classes = ['scrim', 'scrim--translucent'] %}

<div {{ bem(subhero_base_class, subhero_modifiers, subhero_blockname, sub_extra_classes) }}>
    <div {{ bem('image-wrapper', [], subhero_base_class) }}>
        {% if hero_image_entity %}
            {{ hero_image_entity }}
        {% elseif hero_image_src %}
            {% include "@atoms/images/image/_image.twig" with {
                image_src: hero_image_src,
                image_alt: hero_image_alt
            } %}
        {% endif %}
    </div>
    {% block hero_content %}
        {% if hero_title or hero_extras %}
            <div {{ bem('content-wrapper', [], subhero_base_class) }}>
                <div class="container gutter">
                    {% block breadcrumb %}
                    {% endblock %}
                    {% if hero_title %}
                        <h1 {{ bem('title', [], subhero_base_class) }}>{{ hero_title }}</h1>
                    {% endif %}
                    {% block hero_extras %}
                        {{ hero_extras }}
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
</div>