.cta {
  background-color: clr(primary);
  color: clr(text-inverse);
  padding: $space-double;
  position: relative;

  h2 {
    margin: 0;
    font-family: $font-heading;
    // font-size: $ts-larger;
    line-height: 1;
  }

  h2, h3, a {
    color: clr(text-inverse);
  }

  p {
    margin: 1em 0;
  }

  &--slide-in {
    background-color: clr(primary-dark);
    color: #fff;
    transition: $spd-d height ease, $spd-d padding ease;
    overflow: hidden;
    &:not(.active) {
      display: none;
    }

    a:not(.button):not(.pager__link):not(.tabs__link--local-tasks):not(.heading__link) {
      color: #fff;

      @include link-states {
        color: #fff;
      }
    }

    p {
      font-size: $ts-body;
    }

    .button--plain {
      text-transform: uppercase;
      font-family: $font-body;

      @include link-states {
        background-color: clr(primary);
      }
    }
  }

  &--secondary {
    background-color: clr(secondary);
    color: clr(text-inverse);

    h2, h3 {
      color: clr(text-inverse);
    }
  }

  &--spaced {
		margin-top: $space-triple;
		margin-bottom: $space-triple;
  }

  &--windowshade {
    .cta__content {
      position: relative;
      z-index: 1;
      width: 50%;
      padding: $space-double;
      background-color: rgba(255,255,255,0.9);
      color: clr(text);

      h2, h3, a:not(.button) {
        color: clr(text);
      }
    }

    .cta__image {
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &--shaped-bg {
    padding: 0;

    @include large {
      display: grid;
      grid-template-columns: 1fr minmax(auto, calc(#{$wide-width} - #{$space-quadruple})) 1fr;
    }

    .cta__content-wrapper {

      @include large {
        display: grid;
        grid-template-columns: 1fr minmax(auto, calc(#{$max-width} / 2 - #{$space-quadruple})) minmax(auto, calc(#{$max-width} / 2 - #{$space-quadruple})) 1fr;  
        align-items: center;
        grid-column: 2;  
      }

      .cta__content {
        flex: 0 0 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: clr(primary);
        clip-path: polygon(0 -100%, 0 calc(100% - 100px), 50% 100%, 100% calc(100% - 100px), 100% -100%);
        padding: $space-double $space-double calc(#{$space-double} + 100px);

        @include large {
          height: 100%;
          clip-path: polygon(-100% 0, calc(100% - 100px) 0, 100% 50%, calc(100% - 100px) 100%, -100% 100%);
          padding: $space calc(#{$space-quadruple} + #{$space-double}) $space $space-quadruple; // Extra space on right to prevent shape from clipping text.
          grid-column: 2;
        }
      }

      .cta__image {
        flex: 0 0 calc(40% + 100px);
        margin-top: -100px;
        background-color: clr(primary-dark);

        @include large {
          margin-top: 0;
          margin-left: -100px;
          grid-column: 3 / 5;
        }

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &--slant-shape {
    .cta__content-wrapper {
      .cta__content {
        clip-path: polygon(0 -100%, 0 calc(100% - 100px), 50% calc(100% - 50px), 100% 100%, 100% -100%);

        @include large {
          clip-path: polygon(-100% 0, 100% 0, calc(100% - 50px) 50%, calc(100% - 100px) 100%, -100% 100%);
        }
      }
    }
  }

  &--lined-text-heading {
    text-align: center;
    padding: 2rem 0;

    .cta__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
    }

    .lined-text {
      width: 100%;
      grid-template-columns: 0 1fr auto 1fr 0;

      &::before,
      &::after {
        width: 100%;
      }

      &::before {
        grid-column: 1 / 3;
      }

      &::after {
        grid-column: 4 / 6;
      }
    }

    .cta__text {
      @include container;
      @include gutter;

      max-width: $max-width;
    }
  }

  &__close {
    text-align: right;
  }

  &:not(.cta--shaped-bg):not(.cta--lined-text-heading) {
    .cta__content-wrapper {
      @extend .container;

      @include large {
        padding-left: $space-double;
        padding-right: $space-double;
      }
    }
  }
}