{% set cta_base_class = cta_base_class|default('cta') %}

{% set cta_button_modifiers = ['secondary'] %}

{% if 'lined-text-heading' in cta_modifiers %}
  {% set cta_heading_classes = ['lined-text'] %}
{% endif %}

<div {{ bem(cta_base_class, cta_modifiers, cta_blockname, cta_extra_classes) }}>
  <div {{ bem('content-wrapper', [], cta_base_class) }}>
    <div {{ bem('content', [], cta_base_class) }}>
      <div {{ bem('heading', [], cta_base_class, cta_heading_classes) }}>{{ cta_heading }}</div>
      {% if cta_content %}
        <div {{ bem('text', [], cta_base_class) }}>{{ cta_content }}</div>
      {% endif %}
      {% block cta_links %}
        <div class="button-group">
          {% include "@atoms/buttons/twig/button.twig" with {
            button_content: cta_button_text,
            button_url: cta_button_url,
            button_modifiers: cta_button_modifiers
          } %}
        </div>
      {% endblock %}
    </div>
    {% if 'shaped-bg' in cta_modifiers or 'windowshade' in cta_modifiers %}
      <div {{ bem('image', [], cta_base_class) }}>
        {% if cta_image_entity %}
          {{ cta_image_entity }}
        {% else %}
          {% include "@atoms/images/image/_image.twig" with {
            image_src: cta_image_url,
            image_alt: cta_image_alt
          } %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>