.section {
  background-color: clr('white');
  padding: 0 $space-double;

  @include large {
    padding: 0 $space-quadruple;
  }

  &--primary {
    background-color: clr(primary);
    color: clr(text-inverse);
  }

  &--secondary {
    background-color: clr(secondary);
    color: clr(text-inverse);
  }

  &--neutral-light {
    background-color: clr(neutral-light);
    color: clr(text);
  }

  &--neutral-dark {
    background-color: clr(neutral-dark);
    color: clr(text-inverse);
  }

  &--padded {
    padding-top: calc(#{$space} * 7);
    padding-bottom: calc(#{$space} * 7);
  }

  &--spaced-items {
    .paragraph-wrapper {
      padding-top: $space-double;
      padding-bottom: $space-double;
    }
    .paragraph-wrapper--full-bleed {
      padding-top: $space-double;
      padding-bottom: $space-double;
    }
  }

  &--centered {
    text-align: center;
    margin: 0 auto;
  }

  &--inner {
    padding: 0;
  }
}

.paragraph-wrapper {
  &--full-bleed {
    margin-left: -#{$space-double};
    margin-right: -#{$space-double};

    @include large {
      margin-left: -#{$space-quadruple};
      margin-right: -#{$space-quadruple};   
    }
  }
}
