{% set section_base_class = section_base_class|default('section') %}

{% set additional_attributes = {
    class: bem(section_base_class, section_modifiers, section_blockname)
} %}

<div {{ add_attributes(additional_attributes) }}>
	<div {{ bem('content', [], section_base_class) }}>
        {% block section_content %}
		    {{ section_content }}
	    {% endblock %}
    </div>
</div>