$header-bg: clr(primary);
$header-fg: clr(text-inverse);

.header {
  background-color: $header-bg;
  color: $header-fg;

  a {
    color: $header-fg;
  }

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
  }

  &__primary {
    display: flex;
    gap: $space;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: $space-double;
    padding-right: $space-double;

    @include large {
      padding-left: $space-quadruple;
      padding-right: $space-quadruple;
    }
  }

  &__branding {
    flex: 1 0 auto;
    max-width: 200px;
    padding: $space 0;
  }

  &__menu {
    display: flex;
  }

  &--standard {
    position: relative;
  }
}
