{#
/**
 * Available variables:
 * - blockquote_base_class - the base classname
 * - blockquote_modifiers - array of modifiers to add to the base classname
 * - blockquote_blockname - blockname prepended to the base classname
 * - blockquote_url - the url this blockquote should point to
 * - blockquote_content - the content of the blockquote (typically text)
 *
 * Available blocks:
 * - blockquote_content - used to replace the content of the blockquote with something other than text
 *   for example: A formatted text field in Drupal
 */
#}
{% set blockquote_base_class = blockquote_base_class|default('blockquote') %}

<figure {{ bem('wrapper', blockquote_modifiers, blockquote_base_class) }}>
  <blockquote
    {{ bem(blockquote_base_class, blockquote_modifiers, blockquote_blockname) }}
  >
    {% block blockquote_content %}
      {{ blockquote_content }}
    {% endblock %}
  </blockquote>
  {% if blockquote_source %}
    <figcaption {{ bem('source', [], blockquote_base_class) }}>—{{ blockquote_source }}</figcaption>
  {% endif %}
</figure>