{% set lt_base_class = lt_base_class|default('lined-text') %}

{% set lt_base_element = lt_base_element|default('p') %}

<{{ lt_base_element }} {{ bem(lt_base_class, lt_modifiers, lt_blockname) }}>
  {% block lt_content %}
    {{ lt_content }}
  {% endblock %}
</{{ lt_base_element }}>