/* Create a mixin for paragraph styles that can be implemented
 * in components with other classnames.
*/
@mixin paragraph($margin: 0 0 1em) {
  margin: $margin;
}

.paragraph {
  @include paragraph;
}

.blockquote {
  &:not(.image-field-caption) {
	  margin: 0;
    padding: 0;
  }

  &__wrapper {
    @include body-copy;

    margin: 0;
    border-left: 5px solid clr(primary);
    padding: 10px;
    padding-left: 13px;
    position: relative;
    line-height: 1.4;
    
    p {
      margin-top: 10px;

      &:first-of-type {
        margin: 0;
      }
    }

    &--lined {
      .blockquote {
        font-style: italic;
      }
    }

    &--double-lined {
      background: clr(neutral-light);
      outline: 10px solid clr(neutral-light);
      border: none;
      padding-left: 33px;

      &::before {
        content: '';
        width: $space-double;
        height: 100%;
        position: absolute;
        top: 0;
        left: $space;
        margin: 0 $space;
        box-shadow: -5px 0 0 clr(primary), -15px 0 0 clr(neutral-light), -20px 0 0 clr(primary);
      }

      .blockquote {
        font-style: italic;
      }
    }

    &--boxed {
      background: clr(neutral-light);

      &::before {
        content: '';
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="31" height="27" viewBox="0 0 31 27" xmlns="http://www.w3.org/2000/svg"><path d="M14.231 26.6953H0V15.7358C0 11.701 0.839673 8.51678 2.51904 6.18311C4.19841 3.84943 7.07729 1.78842 11.1558 0L14.231 5.82324C11.7228 7.00098 9.98894 8.17325 9.0293 9.34009C8.06966 10.5069 7.53532 11.8864 7.42627 13.4785H14.231V26.6953ZM30.8174 26.6953H16.5864V15.7358C16.5864 11.701 17.4261 8.51678 19.1055 6.18311C20.7848 3.84943 23.6637 1.78842 27.7422 0L30.8174 5.82324C28.3092 7.00098 26.5754 8.17325 25.6157 9.34009C24.6561 10.5069 24.1217 11.8864 24.0127 13.4785H30.8174V26.6953Z" /></svg>');
        mask-image: url('data:image/svg+xml;utf8,<svg width="31" height="27" viewBox="0 0 31 27" xmlns="http://www.w3.org/2000/svg"><path d="M14.231 26.6953H0V15.7358C0 11.701 0.839673 8.51678 2.51904 6.18311C4.19841 3.84943 7.07729 1.78842 11.1558 0L14.231 5.82324C11.7228 7.00098 9.98894 8.17325 9.0293 9.34009C8.06966 10.5069 7.53532 11.8864 7.42627 13.4785H14.231V26.6953ZM30.8174 26.6953H16.5864V15.7358C16.5864 11.701 17.4261 8.51678 19.1055 6.18311C20.7848 3.84943 23.6637 1.78842 27.7422 0L30.8174 5.82324C28.3092 7.00098 26.5754 8.17325 25.6157 9.34009C24.6561 10.5069 24.1217 11.8864 24.0127 13.4785H30.8174V26.6953Z" /></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: clr(primary);
        width: 31px;
        height: 27px;
        display: block;
        margin-bottom: 5px;
      }

      .blockquote {
        font-weight: $fw-b;
      }
    }

    &--indented {
      border-left: none;
      display: flex;
      flex-wrap: wrap;
      padding: $space-double 0;

      .blockquote {
        flex: 1 0 calc(100% - 51px);
        margin-left: 10px;
      }

      &::before {
        content: '';
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="31" height="27" viewBox="0 0 31 27" xmlns="http://www.w3.org/2000/svg"><path d="M14.231 26.6953H0V15.7358C0 11.701 0.839673 8.51678 2.51904 6.18311C4.19841 3.84943 7.07729 1.78842 11.1558 0L14.231 5.82324C11.7228 7.00098 9.98894 8.17325 9.0293 9.34009C8.06966 10.5069 7.53532 11.8864 7.42627 13.4785H14.231V26.6953ZM30.8174 26.6953H16.5864V15.7358C16.5864 11.701 17.4261 8.51678 19.1055 6.18311C20.7848 3.84943 23.6637 1.78842 27.7422 0L30.8174 5.82324C28.3092 7.00098 26.5754 8.17325 25.6157 9.34009C24.6561 10.5069 24.1217 11.8864 24.0127 13.4785H30.8174V26.6953Z" /></svg>');
        mask-image: url('data:image/svg+xml;utf8,<svg width="31" height="27" viewBox="0 0 31 27" xmlns="http://www.w3.org/2000/svg"><path d="M14.231 26.6953H0V15.7358C0 11.701 0.839673 8.51678 2.51904 6.18311C4.19841 3.84943 7.07729 1.78842 11.1558 0L14.231 5.82324C11.7228 7.00098 9.98894 8.17325 9.0293 9.34009C8.06966 10.5069 7.53532 11.8864 7.42627 13.4785H14.231V26.6953ZM30.8174 26.6953H16.5864V15.7358C16.5864 11.701 17.4261 8.51678 19.1055 6.18311C20.7848 3.84943 23.6637 1.78842 27.7422 0L30.8174 5.82324C28.3092 7.00098 26.5754 8.17325 25.6157 9.34009C24.6561 10.5069 24.1217 11.8864 24.0127 13.4785H30.8174V26.6953Z" /></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: clr(secondary);
        width: 31px;
        height: 27px;
        display: block;
        margin-bottom: 5px;
        flex: 0 1 auto;
      }

      &::after {
        content: '';
        width: 100px;
        height: 10px;
        background-color: clr(primary);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &--plain {
      border-left: none;
      padding-left: 10px;
    }
  }

  &__source {
    margin-top: 1em;
    font-size: $ts-meta;
  }
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  p {
    @extend .paragraph;
  }

  blockquote {
    @extend .blockquote;
  }

  hr {
    @extend .hr;
  }

  a:not(.button) {
    color: clr(primary);
  }
}

.lined-text {
  $line-width: 150px;

  display: inline-grid;
  grid-template-columns: 1fr $line-width auto $line-width 1fr;
  gap: 10px;
  align-items: center;

  &::before,
  &::after {
    content: '';
    background-color: currentColor;
    display: block;
    height: 3px;
    width: $line-width;
    position: relative;
  }

  &::before {
    grid-column: 2;
  }

  &::after {
    grid-column: 4;
  }
}

.caption {
  p {
    &:first-of-type {
      margin-top: 5px;
    }

    &:last-of-type {
      margin-bottom: 5px;
    }
  }
}

.text-center {
  text-align: center;
}