{% set cb_base_class = cb_base_class|default('checkerboard') %}

<div {{ bem(cb_base_class, cb_modifiers, cb_blockname) }}>
    {% for piece in checkerboard_pieces %}
        {% include "@molecules/checkerboard-piece/checkerboard-piece.twig" with {
            chp_image_src: piece.chp_image_src,
            chp_image_alt: piece.chp_image_alt,
            chp_heading: piece.chp_heading,
            chp_text_content: piece.chp_text_content
        } %}
    {% endfor %}
</div>