.search-result {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;

    @include medium {
        flex-direction: row;
    }

    &__content {
        background-color: clr(neutral-light);
        padding: 20px;
        flex: 1 0 0;

        h3 {
            margin: 0;
        }

        a {
            color: clr(primary);
            transition: $spd-a all ease-in-out;

            @include link-states {
                color: clr(primary-dark);
                transition: $spd-a all ease-in-out;
            }
        }
    }

    &__text {
        font-size: $ts-meta;
        line-height: $text-lh-md;

        p {
            margin: 0;
        }
    }

    &__type {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: clr(neutral-light);
        text-transform: uppercase;
        font-weight: $fw-b;
        padding: 20px;
        flex: 0 1 125px;

        .icon {
            width: 48px;
            height: 48px;
            fill: clr(primary);
        }
    }
}