{% set sr_base_class = sr_base_class|default('search-result') %}

<article {{ bem(sr_base_class, sr_modifiers, sr_blockname) }}>
    <div {{ bem('content', [], sr_base_class) }} {{ content_attributes }}>
        {% include "@atoms/text/headings/_heading.twig" with {
            heading_level: 3,
            heading: sr_heading,
            heading_url: sr_heading_url
        } %}
        <div {{ bem('text', [], sr_base_class) }}>{{ sr_text }}</div>
    </div>
    <div {{ bem('type', [], sr_base_class) }}>
        {% include "@atoms/images/icons/_icon.twig" with {
            icon_name: sr_icon
        } %}
        <div {{ bem('type-label', [], sr_base_class) }}>{{ sr_type }}</div>
    </div>
</article>