/*
 * General Variables
 * Note: colors should go into
 * components/00-base/01-colors/_color-vars.css
 * and breakpoint related vars into
 * components/00-base/base/_breakpoints.css
*/

// Fonts
$font-heading: factoria, times, 'Times New Roman', serif;
$font-body: open-sans, 'Helvetica', 'Arial', sans-serif;

// Font weights
$fw-r: 400;
$fw-sb: 600;
$fw-b: 700;
$fw-eb: 800;
$fw-u: 900;

// Font sizes
$ts-h1: 4.8rem;
$ts-h1--sm: 4.4rem;
// $ts-h2: 4.0rem;
$ts-h2: 2.8rem;
// $ts-h2--sm: 3.6rem;
$ts-h2--sm: 2.6rem;
$ts-h3: 2.4rem;
$ts-h4: 2.1rem;
$ts-h5: 1.8rem;
$ts-h6: 1.5rem;

$ts-home-hero: 7.3rem;
$ts-number-block-figure: 7.3rem;
$ts-larger: 2.4rem;
$ts-body: 1.8rem;
$ts-meta: 1.5rem;

$text-lh: 1.8;
$text-lh-md: 1.4;
$text-lh-meta: $text-lh-md;
$text-lh-sm: 1.2;

// Spacing
$space: 1rem;

// Times
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;
$space-quintuple: $space * 5;
$space-sextuple: $space * 6;
$space-septuple: $space * 7;

// Divided
$space-one-half: calc(#{$space} / 2);
$space-one-third: calc(#{$space} / 3);
$space-one-fourth: calc(#{$space} / 4);
$space-one-fifth: calc(#{$space} / 5);
$space-one-sixth: calc(#{$space} / 6);
$space-one-seventh: calc(#{$space} / 7);
$space-one-eighth: calc(#{$space} / 8);

/*
 * Use this on the outer wrapper of page-level elements.
 * It ensures consistent spacing between elements on the page.
 */
@mixin space-stack-page {
  margin-bottom: $space-double;
}
