// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$white: white; // White
$near-white: #f2f2f2; // Near white
$neutral-lightest: #EFEFEC; // Light gray
$neutral-lighter: #E5E5E5; // Medium light gray
$neutral-light: #888; // Not in Figma
$neutral: #B7BABA; // Medium gray
$neutral-dark: #4c4c4c; // Dark gray
$neutral-darker: #333; // Not in Figma
$black: black; // Black

// Status
$status-yellow: #ED8E00;
$status-red: #B71802;
$status-green: #80BB69;

// Project
$primary: #096F85;
$primary-light: #0B849E;
$primary-dark: #2F3D4C;
$primary-highlight: #0C97B6;
$secondary: #CB4C3C;
$secondary-dark: #792A20;
