$footer-bg: clr(neutral-light);
$footer-text: clr(neutral-dark);

.nav--footer-menu {
    border-top: 3px solid $footer-text;
    border-bottom: 3px solid $footer-text;
    padding: 10px 0;
}

.footer-menu {
    @include list-reset;

    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    font-weight: $fw-b;

    @include large {
        flex-direction: row;
    }

    &__item {
        @include large {
            & + .footer-menu__item {
                margin-left: 15px;
            }
        }
    }

    &__link {
        color: $footer-text;
    }
}