{% set menuTitle = customMenuTitle|default('Quick Links'|t) %}

<nav class="nav--footer-menu" aria-labelledby="footerMenuHeading">
	<h2 class="nav--footer-menu__heading {% if not customMenuTitle %}visually-hidden{% endif %}" id="footerMenuHeading">{{- menuTitle -}}</h2>
	{% block menu %}
        {% include "@molecules/menus/_menu.twig" with {
            menu_class: 'footer-menu',
            items: footer_menu_items,
        } %}
    {% endblock %}
</nav>
