.icon-list-item {
    display: inline-flex;
    gap: 10px;
    line-height: $text-lh-md;

    &__icon {
        .icon {
            width: 32px;
            height: 32px;
            fill: clr(primary);
        }
    }

    &__text {
        color: clr(neutral-dark);
    }

    h3 {
        line-height: 1;
        color: clr(text);
    }
}