{% set ili_base_class = ili_base_class|default('icon-list-item') %}

<div {{ bem(ili_base_class, ili_modifiers, ili_blockname) }}>
    <div {{ bem('icon', [], ili_base_class) }}>
        {% if icon_entity %}
            {{ icon_entity }}
        {% else %}
            {% include "@atoms/images/icons/_icon.twig" with {
                icon_name: ili_icon
            } %}
        {% endif %}
    </div>
    <div {{ bem('content', [], ili_base_class) }}>
        {% include "@atoms/text/headings/_heading.twig" with {
            heading_level: 3,
            heading: ili_heading,
            heading_url: ili_heading_url
        } %}
        <div {{ bem('text', [], ili_base_class) }}>{{ ili_text }}</div>
    </div>
</div>