$color-place-holder: $neutral-light;

.place-holder {
  color: $color-place-holder;
  border: 4px dashed $color-place-holder;
  padding: 50px;

  &__content {
    font-size: 3.2rem;
    line-height: 1.4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
