{% set footer__base_class = 'footer' %}
{% set footer__modifiers = ['centered-with-left-logo'] %}

{% set logoDirectory = 'themes/custom/trailhead_theme' %}
{% set footer_logo_src = logoDirectory ? '/' ~ logoDirectory ~ '/images/logo.png' : 'logo.png' %}

<footer {{ bem(footer__base_class, footer__modifiers, footer__blockname) }}>
  <div class="container gutter">
    {% block footer_contact_info %}
      <div {{ bem('contact-info', [], footer__base_class) }}>
        {{ phone_number }}
      </div>
    {% endblock %}
    {% block footer_content %}
      <div {{ bem('menu', [], footer__base_class) }}>
        {% block footer__menu %}
          {% include "@molecules/menus/footer/footer-menu.twig" %}
        {% endblock %}
      </div>
    {% endblock %}
    <div {{ bem('lower', [], footer__base_class) }}>
      <div {{ bem('logo', [], footer__base_class) }}>
        {% block footer__logo %}
          {% embed "@atoms/links/link/link.twig" %}
            {% block link_content %}
              {% include "@atoms/images/image/figure.twig" with {
                image_src: footer_logo_src,
                image_alt: client_name
              } %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      </div>
      <div {{ bem('social', [], footer__base_class) }}>
        {% block footer__social %}
          {% include "@molecules/social-links/social-links.twig" %}
        {% endblock %}
      </div>
      {% block footer__lower %}
        {% if show_footer_attribution == TRUE %}
          <div {{ bem('credit', [], footer__base_class) }}>
            {% include "@molecules/text-with-icon/text-with-icon.twig" with {
              icon: 'gravity-works',
              icon_position: 'left',
              twi_text: 'Website Design by Gravity Works'|t,
              link_url: 'https://www.gravityworksdesign.com/'
            } %}
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </div>
</footer>
