{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <meta name="theme-color" content="{{ trailhead.primary_color }}">
    <link rel="stylesheet" href="https://use.typekit.net/ufi7nbf.css">
    <style>
      :root {
        --c-primary: {{ trailhead.primary_color }};
        --c-primary-light: {{ trailhead.primary_light_color }};
        --c-primary-dark: {{ trailhead.primary_dark_color }};
        --c-primary-highlight: {{ trailhead.primary_highlight_color }};
        --c-secondary: {{ trailhead.secondary_color }};
        --c-secondary-dark: {{ trailhead.secondary_dark_color }};
        --c-accent: {{ trailhead.accent_color }};
        --c-accent-high: {{ trailhead.accent_high_color }};
        --c-highlight: {{ trailhead.highlight_color }};
        --c-highlight-high: {{ trailhead.highlight_high_color }};
        --c-muted: {{ trailhead.muted_color }};
        --c-near-white: {{ trailhead.near_white_color }};
        --c-neutral-light: {{ trailhead.neutral_light_color }};
        --c-neutral-medium-light: {{ trailhead.neutral_medium_light_color }};
        --c-neutral-medium: {{ trailhead.neutral_medium_color }};
        --c-neutral-dark: {{ trailhead.neutral_dark_color }};
      }
    </style>
  </head>
  <body{{ attributes.addClass(
    not root_path ? 'front' : 'not-front'
  ) }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="skip-link visually-hidden focusable">
      <div class="container gutter">{{ 'Skip to main content'|t }}</div>
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>