{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% set header__logo %}
    {% if trailhead.header_logo is not empty %}
        <a href="/" class="maintenance__logo">
            {{ drupal_image(trailhead.header_logo, 'large', {alt: site.name}) }}
        </a>
    {% endif %}
{% endset %}

{% set roller %}
<svg xmlns="http://www.w3.org/2000/svg" width="246" height="829" fill="none" viewBox="0 0 246 829">
  <path fill="{{ trailhead.primary_color }}" d="M223.807 0H0v35.72C0 46.5 2.413 72.885 2.574 77.07c.161 4.183 11.585 19.307 7.24 25.26-4.344 5.953-1.126 12.872 2.414 18.503 3.54 5.632 2.414 20.595-2.413 26.709-4.827 6.114-1.127 18.021-3.218 24.617-2.092 6.597 2.091 11.585 2.091 11.746 0 .161-4.505 1.931 0 16.25 4.505 14.32-2.413 44.73 0 62.107 2.414 17.376 2.414 48.751 0 58.888-2.413 10.136 4.184 10.941 0 53.096-4.183 42.155 3.54 96.377 2.414 106.352-1.126 9.976-4.344 45.051-1.93 59.532 2.413 14.481-.162 55.831-4.345 64.841-4.183 9.011-3.057 60.176 0 75.461 3.057 15.285 0 21.56 0 24.778v6.114l1.77 16.572 2.413 2.575 5.149-2.575h9.815c-.054-3.057.611-7.755 3.7-2.091 3.09 5.663 14.588 2.36 19.951 0h7.08l5.631 4.666 4.827-2.575 21.721 2.575 10.459-2.575c7.186.859 21.753 2.575 22.525 2.575h9.815c3.915-1.395 12.228-3.347 14.159 0 2.413 4.183 27.996 3.7 38.776 5.149 8.624 1.158 11.102-2.95 11.262-5.149 2.468.053 8.367.129 12.229 0 4.827-.161 3.7-6.114 3.861-11.746.157-5.476 1.683-5.475 6.206-5.47h.391c3.861 0 5.149-8.259 5.309-12.389-.911-4.344-2.445-14.03-1.287-18.021 1.448-4.987 2.736-18.985-1.448-24.134-4.183-5.149 2.414-15.768 0-21.882-1.931-4.891 2.95-82.915 5.632-121.316 1.233-22.794 3.282-69.186 1.609-72.404-1.674-3.218-.698-50.682 0-74.012-1.395-.536-4.055-4.57-3.54-16.412.643-14.802-4.183-38.454-6.758-62.106-2.574-23.651 5.471-17.859 7.884-44.246 1.931-21.11-1.662-78.732-3.7-104.905l-1.609-9.493c.536-3.271 1.866-11.552 2.896-18.503 1.029-6.951-1.502-29.927-2.896-40.546-1.234-9.814-2.639-30.184 1.609-33.144 4.247-2.961 4.129-27.728 3.539-39.742z"/>
  <g filter="url(#filter0_d)">
    <g filter="url(#filter1_ii)">
      <path fill="{{ trailhead.primary_color }}" d="M19.665 523.55c8.79-4.539 193.55-2.391 193.55-2.391l-3.801 18.252c-4.493 14.68.732 30.361 4.813 36.317l-191.709.68C7.964 564.69 10.874 528.09 19.665 523.55z"/>
    </g>
    <path stroke="#000" stroke-width="2" d="M211.127 522.136l.861.01-3.544 17.017c-2.292 7.521-2.095 15.266-.821 21.867 1.084 5.614 2.959 10.463 4.809 13.704l-189.557.673c-3.292-2.768-5.666-6.958-7.226-11.866-1.599-5.032-2.315-10.741-2.312-16.253.004-5.513.728-10.781 1.976-14.923.624-2.072 1.372-3.835 2.207-5.199.84-1.374 1.729-2.275 2.604-2.727.149-.077.485-.191 1.077-.317.57-.121 1.309-.24 2.212-.355 1.806-.229 4.218-.437 7.156-.625 5.873-.374 13.796-.662 23.07-.881 18.546-.436 42.456-.593 66.098-.608 23.641-.016 47.008.111 64.465.242 8.728.065 15.979.131 21.047.181l5.878.06z"/>
    <g filter="url(#filter2_i)">
      <path fill="#fff" d="M212.696 520.848c-5.044 11.338-11.926 38.093.901 54.414 4.706-12.357 11.115-40.539-.901-54.414z"/>
    </g>
    <path stroke="#000" stroke-width="2" d="M218.42 548.558c-.62 9.289-2.955 18.438-5.122 24.61-5.283-7.686-6.55-17.494-5.856-26.908.674-9.153 3.194-17.802 5.518-23.482 4.891 6.62 6.101 16.167 5.46 25.78z"/>
    <path fill="#C4C4C4" fill-rule="evenodd" stroke="#000" stroke-width="2" d="M226.634 554.803l.002.291c.107 9.94.259 31.518-.002 37.777-.164 3.944-2.178 6.769-4.471 8.619-2.177 1.757-4.692 2.723-6.475 3.106-27.209 9.249-82.879 28.205-89.277 30.508-2.883 1.038-3.593 2.061-3.83 2.61-.257.597-.245 1.102-.222 2.038.008.318.017.687.017 1.126v13.998h-4.827v-13.998c0-.133-.007-.301-.014-.497-.041-1.046-.113-2.893.613-4.577.97-2.25 3.076-3.963 6.628-5.241 6.463-2.327 62.382-21.367 89.499-30.585l.149-.051.155-.031c1.16-.232 3.012-.919 4.552-2.162 1.492-1.204 2.588-2.83 2.681-5.064.254-6.099.105-27.513-.002-37.524-.024-2.192-.15-2.626-.599-3.001-.299-.251-.951-.616-2.364-.905-1.403-.286-3.393-.464-6.208-.464v-4.827c2.977 0 5.326.184 7.174.562 1.838.375 3.351.974 4.495 1.931 2.301 1.925 2.317 4.657 2.326 6.361z" clip-rule="evenodd"/>
    <g>
      <path fill="#fff" fill-rule="evenodd" d="M134.282 674.505c-1.662.859-4.955 4.924-4.827 14.32.129 9.397.054 75.568 0 107.479-4.022 2.789-15.575 6.693-29.605 0l6.597-107.479c1.18-3.808 2.188-12.003-3.218-14.32-5.406-2.317-2.253-14.588 0-20.433h31.053c2.682 5.309 6.436 16.829 0 20.433zm-18.825 115.846c2.933 0 5.31-5.475 5.31-12.228s-2.377-12.228-5.31-12.228c-2.932 0-5.309 5.475-5.309 12.228s2.377 12.228 5.309 12.228z" clip-rule="evenodd"/>
      <path fill="#000" d="M129.455 688.825l1-.013-1 .013zm4.827-14.32l.459.889.015-.008.015-.008-.489-.873zm-4.827 121.799l.57.822.429-.298.001-.522-1-.002zm-29.605 0l-.998-.061-.041.673.609.291.43-.903zm6.597-107.479l-.955-.296-.036.115-.007.12.998.061zm-3.218-14.32l.394-.919-.394.919zm0-20.433v-1h-.686l-.247.64.933.36zm31.053 0l.893-.451-.278-.549h-.615v1zm-3.827 34.74c-.063-4.581.71-7.8 1.657-9.945.96-2.174 2.07-3.184 2.629-3.473l-.917-1.777c-1.104.569-2.472 2.02-3.542 4.442-1.083 2.452-1.893 5.965-1.827 10.78l2-.027zm0 107.494c.054-31.904.129-98.088 0-107.494l-2 .027c.129 9.386.054 75.545 0 107.464l2 .003zm-31.035.901c14.373 6.857 26.306 2.9 30.605-.081l-1.14-1.644c-3.745 2.597-14.917 6.449-28.604-.08l-.861 1.805zm6.029-108.443l-6.597 107.479 1.996.122 6.597-107.479-1.996-.122zm-2.614-13.339c2.214.948 3.217 3.123 3.478 5.779.259 2.645-.258 5.508-.821 7.325l1.91.592c.617-1.99 1.194-5.129.901-8.112-.292-2.974-1.488-6.055-4.68-7.423l-.788 1.839zm-.539-21.713c-1.146 2.973-2.529 7.595-2.934 11.804-.203 2.1-.17 4.171.305 5.905.479 1.75 1.445 3.265 3.168 4.004l.788-1.839c-.98-.42-1.647-1.307-2.027-2.693-.384-1.4-.435-3.197-.244-5.185.383-3.968 1.703-8.404 2.81-11.277l-1.866-.719zm31.986-.64h-31.053v2h31.053v-2zm.489 22.306c3.781-2.118 4.403-6.484 3.923-10.567-.487-4.147-2.145-8.47-3.519-11.19l-1.785.901c1.307 2.59 2.867 6.682 3.318 10.523.459 3.905-.26 7.102-2.914 8.588l.977 1.745zm-15.004 102.745c0 3.273-.578 6.188-1.473 8.248-.448 1.032-.955 1.803-1.468 2.303-.508.495-.969.677-1.369.677v2c1.067 0 2.002-.502 2.765-1.245.757-.738 1.394-1.757 1.907-2.938 1.027-2.366 1.638-5.565 1.638-9.045h-2zm-4.31-11.228c.4 0 .861.182 1.369.677.513.5 1.02 1.271 1.468 2.303.895 2.059 1.473 4.975 1.473 8.248h2c0-3.48-.611-6.679-1.638-9.045-.513-1.181-1.15-2.201-1.907-2.939-.763-.742-1.698-1.244-2.765-1.244v2zm-4.309 11.228c0-3.273.578-6.189 1.472-8.248.448-1.032.955-1.803 1.468-2.303.508-.495.97-.677 1.369-.677v-2c-1.066 0-2.002.502-2.764 1.244-.758.738-1.395 1.758-1.908 2.939-1.027 2.366-1.637 5.565-1.637 9.045h2zm4.309 11.228c-.399 0-.861-.182-1.369-.677-.513-.5-1.02-1.271-1.468-2.303-.894-2.06-1.472-4.975-1.472-8.248h-2c0 3.48.61 6.679 1.637 9.045.513 1.181 1.15 2.2 1.908 2.938.762.743 1.698 1.245 2.764 1.245v-2z"/>
    </g>
    <g filter="url(#filter3_i)">
      <path fill="#fff" d="M129.455 688.825c-.128-9.396 3.165-13.461 4.827-14.32 6.436-3.604 2.682-15.124 0-20.433h-31.053c-2.253 5.845-5.406 18.116 0 20.433s4.398 10.512 3.218 14.32L99.85 796.304c14.03 6.693 25.583 2.789 29.605 0 .054-31.911.129-98.082 0-107.479z"/>
    </g>
  </g>
  <defs>
    <filter id="filter0_d" width="233.441" height="308.349" x="12.337" y="520.651" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
      <feOffset dx="14" dy="24"/>
      <feGaussianBlur stdDeviation="2"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend in2="BackgroundImageFix" result="effect1_dropShadow"/>
      <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
    </filter>
    <filter id="filter1_ii" width="201.89" height="103.757" x="12.337" y="490.651" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
      <feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
      <feOffset dy="-32"/>
      <feGaussianBlur stdDeviation="15"/>
      <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/>
      <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"/>
      <feBlend in2="shape" result="effect1_innerShadow"/>
      <feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
      <feOffset dy="18"/>
      <feGaussianBlur stdDeviation="15"/>
      <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/>
      <feColorMatrix values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.4 0"/>
      <feBlend in2="effect1_innerShadow" result="effect2_innerShadow"/>
    </filter>
    <filter id="filter2_i" width="13.309" height="63.414" x="206.268" y="511.848" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
      <feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
      <feOffset dy="-40"/>
      <feGaussianBlur stdDeviation="4.5"/>
      <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/>
      <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.37 0"/>
      <feBlend in2="shape" result="effect1_innerShadow"/>
    </filter>
    <filter id="filter3_i" width="37.986" height="155.928" x="99.85" y="644.072" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
      <feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
      <feOffset dy="-10"/>
      <feGaussianBlur stdDeviation="7.5"/>
      <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/>
      <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"/>
      <feBlend in2="shape" result="effect1_innerShadow"/>
    </filter>
  </defs>
</svg>
{% endset %}

{% extends "@templates/maintenance.twig" %}
  {% block page_header %}
    {{ header__logo }}
    {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 1,
        heading: title
    } %}
  {% endblock %}

  {% block page_system %}
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.help }}
    {{ messages }}
  {% endblock %}

  {% block page_sidebar %}
    {{ page.sidebar }}
    {{ roller }}
    {# graphic goes here, but maybe not nested alongside <main> #}
  {% endblock %}

  {% block pre_content %}
  {% endblock %}

  {% block page_content %}
    {{ page.pre_content }}
    {{ page.content }}
  {% endblock %}
