.text-with-icon {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: clr(text);
  
    .icon {
      max-width: 24px;
      max-height: 24px;
      transition: $spd-a all ease-in-out;
      fill: clr(primary);
    }
  
    &__text {
      margin-left: 5px;
    }

    &--with-link {
        @include link-states {
            .text-with-icon__text {
                text-decoration: underline;
            }
        }
    }
  }
  