{% set twi_base_class = twi_base_class|default('text-with-icon') %}

{% if link_url %}
	{% embed "@atoms/links/link/link.twig" with {
    link_base_class: twi_base_class,
    link_modifiers: ['with-link']
} %}
		{% block link_content %}
			{% if icon and icon_position == 'left' %}
				{% if icon_type == 'circled' %}
					{% include "@molecules/circled-icon/circled-icon.twig" with {
                        icon_name: icon
                    } %}
				{% else %}
					{% include "@atoms/images/icons/_icon.twig" with {
                        icon_name: icon
                    } %}
				{% endif %}
			{% endif %}
			<span {{ bem('text', [], twi_base_class) }}>{{ twi_text }}</span>
			{% if icon and icon_position != 'left' %}
				{% if icon_type == 'circled' %}
					{% include "@molecules/circled-icon/circled-icon.twig" with {
                        icon_name: icon
                    } %}
				{% else %}
					{% include "@atoms/images/icons/_icon.twig" with {
                        icon_name: icon
                    } %}
				{% endif %}
			{% endif %}
		{% endblock %}
	{% endembed %}
{% else %}
	<div {{ bem(twi_base_class, twi_modifiers, twi_blockname) }}>
		{% if icon and icon_position == 'left' %}
			{% if icon_type == 'circled' %}
				{% include "@molecules/circled-icon/circled-icon.twig" with {
                    icon_name: icon
                } %}
			{% else %}
				{% include "@atoms/images/icons/_icon.twig" with {
                    icon_name: icon
                } %}
			{% endif %}
		{% endif %}
		<span {{ bem('text', [], twi_base_class) }}>{{ twi_text }}</span>
		{% if icon and icon_position != 'left' %}
			{% if icon_type == 'circled' %}
				{% include "@molecules/circled-icon/circled-icon.twig" with {
                    icon_name: icon
                } %}
			{% else %}
				{% include "@atoms/images/icons/_icon.twig" with {
                    icon_name: icon
                } %}
			{% endif %}
		{% endif %}
	</div>
{% endif %}
