.nav--upper-menu {
    background-color: clr(neutral-light);
}

.upper-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $space-double;
    list-style: none;
    margin: 0;
    padding-top: $space-double;
    padding-bottom: $space-double;
    line-height: 0;
    @include gutter;

    &__link {
        font-weight: $fw-b;
        color: clr(text);
        display: inline-flex;
        align-items: center;
        gap: 5px;

        img {
            width: 24px;
            height: 24px;
        }
    }
}