<nav class="nav--upper-menu" aria-labelledby="upperMenuHeading">
    <div class="container gutter">
        <h2 class="nav--upper-menu__heading visually-hidden" id="upperMenuHeading">{{- 'Quick Links'|t -}}</h2>
        {% block menu %}
            {% include "@molecules/menus/_menu.twig" with {
                menu_class: 'upper-menu',
                items: upper_menu_items,
            } %}
        {% endblock %}
    </div>
</nav>
