{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content') %}
{% set main_content_modifiers = [] %}

{% if trailhead.sidebar_position == 'left' %}
  {% set main_modifiers = main_modifiers|merge(['left-sidebar']) %}
{% endif %}

<div {{ bem('layout-container', layout_modifiers) }}>
  {% block page_header %}
    {% include "@organisms/site/site-header/standard/standard.twig" %}
  {% endblock %}
  {% block page_system %}
  {% endblock %}
  <div class="outer-content-wrapper" {% if trailhead.background_image is not empty %}style="background-image: url({{ trailhead.background_image|trim }})"{% endif %}>
    <div class="container gutter">
      <div class="main-content-wrapper">
        {% block pre_content %}{% endblock %}
        <div {{ bem(main_base_class, main_modifiers, main_blockname) }}>
          <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
          <main role="main" {{ bem(main_content_base_class, main_content_modifiers, main_content_blockname, ['main--with-bg']) }}>
            {% block page_content %}{% endblock %}
          </main>
        </div>
        {% if sidebar %}
          <aside class="main-sidebar" role="complementary">
            {% block page_sidebar %}{% endblock %}
          </aside>
        {% endif %}
      </div>
    </div>
  </div>
  {% block page_footer %}
    {% include "@organisms/site/site-footer/multi-menu/multi-menu.twig" %}
  {% endblock %}
</div>
