/*
 * General Layout
*/

$sidebar-width: 33%;
$gutter: $space;
$main-width: calc(100% - (#{$sidebar-width} + #{$gutter}));

/*
 * Layout Using Flexbox (IE11+).
 * Remove this and uncomment Grid code below to use CSS Grid.
*/

.main {
  // @include wrapper;

  // margin-bottom: 4em;

  @include large {
    display: flex;
    flex: 1 0 0;
  }

  &--with-sidebar {
    @include container;
    @include gutter;

    max-width: $max-width;

    .gutter {
      padding: 0;
    }
  }

  &--left-sidebar {
    order: 2;
  }
}

.main-sidebar {
  margin-bottom: $space-double;
  padding: $space-double;

  @include large {
    width: $sidebar-width;
    flex: 0 1 $sidebar-width;
    margin-bottom: 0;
    background-color: clr('white');
  }
}

.main-content {
  width: 100%;
  background-color: clr('white');

  @include large {
    &--with-sidebar {
      // margin-right: $gutter;
      width: $main-width;
    }
  }
}

/*
 * Layout Using CSS Grid (NO IE11 support)
 * Remove Flexbox code above and uncomment this section to use CSS Grid.
*/

/* .main {
  @include wrapper;

  margin-bottom: 4em;

  &--with-sidebar {
    @include large {
      display: grid;
      grid-gap: $gutter;
      grid-template-areas: "content sidebar";
      grid-template-columns: $main-width #{$sidebar-width};
    }
  }
}

.main-sidebar {
  grid-area: sidebar;
  margin-bottom: $space-double;
}

.main-content {
  grid-area: content;
  width: 100%;
} */
