{% set layout_modifiers = ['maintenance'] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content') %}
{% set main_content_modifiers = [] %}

{% set main_modifiers = main_modifiers|merge(['maintenance']) %}
{% set main_content_modifiers = main_content_modifiers|merge(['maintenance']) %}

<div {{ bem('layout-container', layout_modifiers) }}>
  <div class="maintenance__content">
    {% block page_header %}{% endblock %}
    {% block page_system %}{% endblock %}
    {% block pre_content %}{% endblock %}
    <div {{ bem(main_base_class, main_modifiers, main_blockname) }}>
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <main role="main" {{ bem(main_content_base_class, main_content_modifiers, main_content_blockname) }}>
        {% block page_content %}{% endblock %}
      </main>
    </div>
  </div>
  <div class="maintenance__side">
    {% block page_sidebar %}{% endblock %}
  </div>
  {% block page_footer %}{% endblock %}
</div>
