.pager {
  margin: 2em 0;
}

.pager__items {
  @include list-reset;

  text-align: center;
}

.pager__item {
  display: inline-block;
  font-family: $font-heading;
  font-weight: $fw-b;

  &--ellipsis {
    color: clr(neutral-dark);
  }
}

.pager__link,
.pager__link:link,
.pager__link:visited {
  color: $white;
  background-color: clr(primary);
  text-decoration: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding: 4px 12px;
  position: relative;

  @include link-states {
    background-color: clr(primary-dark);
    transition: $spd-a all ease-in-out;
    border-bottom-color: darken($primary-highlight, 10);
  }

  &.is-active {
    background-color: clr(primary-dark);
    transition: $spd-a all ease-in-out;
    border-bottom-color: clr(secondary);
    
    &::before {
      content: '';
      position: absolute;
      border: 5px solid transparent;
      border-top-width: 0;
      border-bottom-color: clr(secondary);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: $spd-a all ease-in-out;
    }

    @include link-states {
      &::before {
        border-bottom-color: darken($secondary, 10);
        transition: $spd-a all ease-in-out;
      }
    }
  }
}

.pager__link--next,
.pager__link--prev {
  // span {
  //   display: none;
  // }
  div {
    display: inline-block;
  }
}
