.button-group {
    display: flex;
    gap: 10px;

    &.align-center {
        justify-content: center;
        width: 100%;
      
        button {
          display: inline-block;
        }
    }
      
    &.align-left {
        justify-content: flex-start;
    }
    
    &.align-right {
        justify-content: flex-end;
    }
}