{% set bg_base_class = bg_base_class|default('button-group') %}

<div {{ bem(bg_base_class, bg_modifiers, bg_blockname) }}>
    {% block buttons %}
        {% for button in buttons %}
            {% include "@atoms/buttons/twig/button.twig" with {
                button_content: button.button_content,
                button_url: button.button_url,
                button_modifiers: button.button_modifiers,
                icon: button.icon,
                icon_position: button.icon_position
            } %}
        {% endfor %}
    {% endblock %}
</div>